<div id="potrebOboz_top_menu">
	<div id="potreb_oboz_search">
		<form action="search.php" method="post" name="potreb_oboz_search_form">
 	<select size="1" name="place" style="float: left; margin:5px 5px 0 0;">
		<option selected value="Краснодарский край">Краснодарский край</option>
		<option value="Ростовская область">Ростовская область</option>
		<option value="Ставропольский край">Ставропольский край</option>
	</select>
	<select size="1" name="place" style="float: left; margin:5px 5px 0 0;">
		<option selected value="Тихорецк">Тихорецк</option>
		<option value="Кропоткин">Кропоткин</option>
		<option value="Краснодар">Краснодар</option>
	</select>
	<input type="text" size="80" name="search_word">
    <button type="submit"><span>Найти</span></button>
   </form>
  
	</div>
	<div id="new_mess_icon_top"><a href="#"><span>5</span></a></div>
	<div id="new_lenta_icon_top"><a href="#"><span>2</span></a></div>
	<div id="contact_icon_top"><a href="#"><span></span></a></div>
</div>