<div class="user_menu">
  <% unless @catalog.zakaz_layout.nil? %>
  <a href="<%= catalog_orders_path(@catalog) %>" id="catalog_orders" title="Заказы по каталогу">
    <img src="/images/order-icon.png">
  </a>
  <a href="#possible_order_status" id="possible_order_status_link" title="Возможные состояния заказов">
    <img src="/images/possibli-order-status.png">
  </a>
  <% end %>
  
  <% if /admin/ =~ current_user.group %>
    <a href="#zakaz_layout_change" id="zakaz_layout_change" title="изменить форму заказа">
      <img src="/images/zakaz_layout_change.jpg">
    </a>
    <a href="#catalog_tariff_change" id="catalog_tariff_change" title="изменить тарифный план">
      <img src="/images/dollar-icon.png">
    </a>
  <% end %>
  <a href="#edit_business_deals" id="edit_business_deals" title="Изменить виды товаров и услуг">
    <img src="/images/goods.png">
  </a>
  <a href="<%= catalog_map_show_path(@catalog) %>" title="Добавить на карту">
    <img src="/images/coordinate.png">
  </a>
  <a href="#catalog_galery_img" id="catalog_galery_img_add" title="Добавить изображение в галерею">
    <img src="/images/img-add-icon.png">
  </a>
  <form id="catalog_delete_form" method="post" action="<%= catalog_path(@catalog) %>">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <input name="_method" type="hidden" value="delete" />
    <a href="#" id="catalog_delete_form_send" title="удалить каталог">
      <img src="/images/delete.png">
    </a>
  </form>
  <a href="/logout" title="Выход">
    <img src="/images/exit.jpg">
  </a>
</div>