<div id="page_top_cataloga">
	<div id="list_top_catalog">
			<h2>ТОР Каталога - «Тихорецк» на 27.05.2012 г.</h2>
			
				<div class="object_list_catalog">
					<div class="short_info_cataloga">
						<ul>
							<li class="name_catalog"><a href="#">«Евросеть»</a></li>
							<li><a href="#" style="position: relative; display: block;">
							<img src="/images/sotoviy.jpg"></a></li>
							<li class="grey_font">Тип бизнеса:</li>
							<li class="type_business"><a href="#">Торговая сеть</a></li>
						</ul>
						<div id="label_obekta_kataloga">
							<a href="#"><script type="text/javascript">document.write(Math.round(Math.random()*10000));</script></a>
						</div>
					</div>
					<div class="text_info_cataloga">
						<h4><span>1</span> <a href="#">Торговая сеть «Евросеть»</a></h4>
						<p>«Евросе́ть» — российская компания-ритейлер, владеющая одноимённой сетью салонов сотовой связи. «Евросеть» и её основатель Евгений Чичваркин получили широкую известность в стране благодаря ярким рекламным кампаниям, эпатажному имиджу, а также конфликту с правоохранительными органами, приведшему к эмиграции Чичваркина. В 2006 году компания занимала 37 % российского рынка сотовых телефонов[3]. Штаб-квартира находится в Москве.</p>
						<p>Компания была создана 2 апреля 1997 года Тимуром Артемьевым и Евгением Чичваркиным[4], первый магазин, в ассортименте которого было всего несколько мобильных телефонов, был открыт на Ленинском проспекте в Москве[5]. В последующие годы компания быстро развивалась, стремительно наращивая сеть своих салонов; в 2003 году вышла в регионы. В 2006 году было открыто рекордное число новых торговых точек — 1976[5]. Высказывались мнения, что важным фактором столь бурного роста бизнеса «Евросети» стала неуплата или занижение таможенных пошлин при ввозе мобильных телефонов на территорию России[6].</p>
					</div>
					<div class="spatistika_cataloga">
						<ul>
						  <li>Подпищиков:</li><li class="data"><a href="#">879</a></li>
						  <li>Презентаций:</li><li class="data"><a href="#">47</a></li>
						  <li>Просмотров:</li><li class="data">157981</li>
						  <li>Мнений:</li><li class="data"><a href="#">65</a></li>
						</ul>
					</div>
				</div>
				
				<div class="object_list_catalog">
					<div class="short_info_cataloga">
						<ul>
							<li class="name_catalog"><a href="#">«Байкер»</a></li>
							<li><a href="#" style="position: relative; display: block;">
							<img src="http://tihinfo.ru:3000/assets/pictures/1127/small/e231a705ca3e33aac5960395009ab2a0.jpg?1326198997"></a></li>
							<li class="grey_font">Тип бизнеса:</li>
							<li class="type_business"><a href="#">Розничный магазин</a></li>
						</ul>
						<div id="label_obekta_kataloga">
							<a href="#"><script type="text/javascript">document.write(Math.round(Math.random()*10000));</script></a>
						</div>
					</div>
					<div class="text_info_cataloga">
						<h4><span>2</span> <a href="#">«Байкер»</a></h4>
					<p>«Квадроциклы, трактора, японские мотоциклы, скутера различных марок, велосипеды, мотоблоки, бензопилы, бензокосы, бензогенераторы, игрушки на аккумуляторах, одежда IXS, а также большой выбор запчастей, расходных материалов и аксессуаров к ним. У нас Вы можете купить квадроциклы, трактора, Мотоциклы Honda Suzuki Kawasaki Yamaha Всегда в наличии большой выбор скутеров! Доставка товара. Ремонт, сервисное обслуживание  мототехники.</p>
					</div>
					<div class="spatistika_cataloga">
						<ul>
						  <li>Подпищиков:</li><li class="data"><a href="#">479</a></li>
						  <li>Презентаций:</li><li class="data"><a href="#">27</a></li>
						  <li>Просмотров:</li><li class="data">107981</li>
						  <li>Мнений:</li><li class="data"><a href="#">19</a></li>
						</ul>
					</div>
				</div>

				<div class="object_list_catalog">
					<div class="short_info_cataloga">
						<ul>
							<li class="name_catalog"><a href="#">«Гараж»</a></li>
							<li><a href="#" style="position: relative; display: block;">
							<img src="http://tihinfo.ru:3000/assets/pictures/1113/small/c1086a021af2b66d5ee25b51f5b479d4.jpg?1326191922"></a></li>
							<li class="grey_font">Тип бизнеса:</li>
							<li class="type_business"><a href="#">Розничный магазин</a></li>
						</ul>
						<div id="label_obekta_kataloga">
							<a href="#"><script type="text/javascript">document.write(Math.round(Math.random()*10000));</script></a>
						</div>
					</div>
					<div class="text_info_cataloga">
						<h4><span>3</span> <a href="#">«Гараж»</a></h4>
					<p>«Гараж» — В магазине дисков "Гараж" Вы можете купить диски автомобильные: литые диски, легкосплавные, хромированные колесные диски. Сделать подбор дисков по размеру, купить диски ведущих мировых производителей, выбрав в каталоге нужные Вам автодиски, колеса.</p>
					
					<p>В нашем интернет-магазине шин и дисков, Вы можете купить шины летние и зимние, автошины для внедорожников и легковых авто, шины ведущих производителей. Вы можете подобрать шины по параметрам и увидеть детальное описание шин с ценами и характеристиками.</p>
					</div>
					<div class="spatistika_cataloga">
						<ul>
						  <li>Подпищиков:</li><li class="data"><a href="#">429</a></li>
						  <li>Презентаций:</li><li class="data"><a href="#">24</a></li>
						  <li>Просмотров:</li><li class="data">105981</li>
						  <li>Мнений:</li><li class="data"><a href="#">22</a></li>
						</ul>
					</div>
				</div>

				<div class="object_list_catalog">
					<div class="short_info_cataloga">
						<ul>
							<li class="name_catalog"><a href="#">«Капитан Врунгел»</a></li>
							<li><a href="#" style="position: relative; display: block;">
							<img src="http://tihinfo.ru:3000/assets/pictures/273/small/6c747f1d924faef8355780b1a1acae1e.jpg?1306685125"></a></li>
							<li class="grey_font">Тип бизнеса:</li>
							<li class="type_business"><a href="#">Кафе</a></li>
						</ul>
						<div id="label_obekta_kataloga">
							<a href="#"><script type="text/javascript">document.write(Math.round(Math.random()*10000));</script></a>
						</div>
					</div>
					<div class="text_info_cataloga">
						<h4><span>4</span> <a href="#">«Капитан Врунгел»</a></h4>
					p>«Сюда хочется вернуться. Ведь так тепло и комфортно чувствуешь себя только дома и здесь, в кафе «Капитан Врунгель», где сохраняются лучшие традиции семейного отдыха.

					Днем кафе живет в рабочем ритме – деловые люди, серьезные разговоры за респектабельным ланчем.

					А вечером, кафе окутывает романтический флер – «Капитан Врунгель» превращается в идеальное место для приватных бесед при свечах, неформальных встреч с коллегами, дружеских вечеринок и семейных праздников.</p>
					</div>
					<div class="spatistika_cataloga">
						<ul>
						  <li>Подпищиков:</li><li class="data"><a href="#">329</a></li>
						  <li>Презентаций:</li><li class="data"><a href="#">34</a></li>
						  <li>Просмотров:</li><li class="data">102981</li>
						  <li>Мнений:</li><li class="data"><a href="#">52</a></li>
						</ul>
					</div>
				</div>



		</div>
</div>
