<div id="content_specialist">
	<h2>ТОР специалистов - «Тихорецк» на 21.05.2012 г.<a onClick="history.go(-1); return false;" href="/" class="go_back_button">X</a></h2>
	<div id="top_specialist_list">
		<div class="object_specialist_list">
			<div class="left_col_object_specialist_list">
				<ul>
					<li><img src="http://tihinfo.ru:3000/images/spec2.jpg"></li>
					<li class="user_nik"><a href="#">Konsultant</a></li>
					<li ><a href="#">Специалист</a></li>
				</ul>
			</div>
			<div class ="right_col">
				<ul>
					<li><img src="http://tihinfo.ru:3000/assets/pictures/1116/small/ccccf3fbfcc9dd7001f74d4fee122d03.jpg?1326192378"></li>
					<li class="user_nik"><a href="#">Гараж</a></li>
				</ul>
			</div>
			<div class="center_col">
					<h3><span class="pos_specialist">1</span>Менеждер по работе с клиентами</h3>
					<p>Консультация клиентов по вопросам расходных материалов и запасных частей. Заказ имеющихся в каталоге но отсутвующих в наличии деталей, информирование клиентов о сроках поставок. Логистические услуги по организации доставки в пределах Тихорецкого района. Работа с клинетами по рекламационных заявкам. Отслеживание гарантийных процессов.</p>
					
			</div>
			<div class="statistik_mnebiya">
				<dl>
					  
					  <dt>Коментариев:</dt><dd>220</dd>
					  <dt>Мне нравится:</dt><dd>1200</dd>
				</dl>
			</div>
		</div>
		<div class="object_specialist_list">
			<div class="left_col_object_specialist_list">
				<ul>
					<li><img src="http://tihinfo.ru:3000/images/spec1.jpg"></li>
					<li class="user_nik"><a href="#">Егор</a></li>
					<li ><a href="#">Специалист</a></li>
				</ul>
			</div>
			<div class ="right_col">
				<ul>
					<li><img src="http://tihinfo.ru:3000/assets/pictures/273/small/6c747f1d924faef8355780b1a1acae1e.jpg?1306685125"></li>
					<li class="user_nik"><a href="#">Врунгель</a></li>
				</ul>
			</div>
			<div class="center_col">
					<h3><span class="pos_specialist">2</span>Администратор по работе с клиентами.</h3>
					<p>Заказ праздничных торжеств, обсуждение меню. Работа с претензиями по качеству обслуживания.</p>
					
			</div>
			<div class="statistik_mnebiya">
				<dl>
					  
					  <dt>Коментариев:</dt><dd>142</dd>
					  <dt>Мне нравится:</dt><dd>413</dd>
				</dl>
			</div>
		</div>
		<div class="object_specialist_list">
			<div class="left_col_object_specialist_list">
				<ul>
					<li><img src="http://tihinfo.ru:3000/images/pritcha.jpg"></li>
					<li class="user_nik"><a href="#">Menfis</a></li>
					<li ><a href="#">Специалист</a></li>
				</ul>
			</div>
			<div class ="right_col">
				<ul>
					<li><img src="http://tihinfo.ru:3000/images/sotoviy.jpg"></li>
					<li class="user_nik"><a href="#">Евросеть</a></li>
				</ul>
			</div>
			<div class="center_col">
					<h3><span class="pos_specialist">3</span>Менеджер отдела продаж</h3>
					<p>Консультация клиентов по представленным товарам и услугам. Расчёт кредитных услуг. Работа с притензиями на качество обслуживание. Работа по гарантийным обязательствам.</p>
					
			</div>
			<div class="statistik_mnebiya">
				<dl>
					  <dt>Коментариев:</dt><dd>143</dd>
					  <dt>Мне нравится:</dt><dd>465</dd>
				</dl>
			</div>
		</div>
	</div>
</div>

