<div id="content_top_presentation">
	<h2>ТОР Презентаций - «Тихорецк» на 27.05.2012 г.</h2>
	<div id="top_presentation_list">
		<div class="object_top_presentation">
			<div class="right_col_in_top_presentation"><a href="#">
				<img src="/images/stil_logo.jpg"><br /><span>Стиль</span></a>
				Тип бизнеса:<br />
				<a href="#">Розничный магазин</a>
			</div>
			<div class="telo_presentation">
				
				<div class="short_info_presentation">
				<h4><span>1</span><a href="#">«Летняя коллекция обуви»</a></h4>
					<p><img align="left" src="/images/tufli.jpg"> Большое   поступление   новой  коллекции  европейской  обуви  и  сумок лето-2012 во все магазины ОД "Покровский"
					Тел. для справок: 343/350-52-71Большое   поступление   новой  коллекции  европейской  обуви  и  сумок  во все магазины ОД "Покровский"
					Тел. для справок: 343/350-52-71 
					</p>
				</div>
				<table class="botton_table_top_presentation">
					<tr>
						<td>Дата: <span>03.05.2012</span></td>
						<td>Просмотров: <span>528</span></td>
						<td>Мне нравится: <span>450</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="object_top_presentation">
			<div class="right_col_in_top_presentation"><a href="#">
				<img src="/images/evroset.jpg"><br /><span>Евросеть</span></a>
				Тип бизнеса:<br />
				<a href="#">Торговая сеть</a>
			</div>
			<div class="telo_presentation">
				
				<div class="short_info_presentation">
				<h4><span>2</span><a href="#">«Презентация нового салона связи.»</a></h4>
					<p>  <img align="left" src="/images/sotoviy.jpg">Презентация содержит учебно-справочный материал о программах-архиваторах, их типах, методах архивации; информационный материал в гиперссылках по ряду популярных программ-архиваторов; контрольные вопросы для самопроверки.</p>
					</p>
				</div>
				<table class="botton_table_top_presentation">
					<tr>
						<td>Дата:<span> 06.03.2012</span></td>
						<td>Просмотров: <span>428</span></td>
						<td>Мне нравится: <span>350</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="object_top_presentation">
			<div class="right_col_in_top_presentation"><a href="#">
				<img src="http://tihinfo.ru:3000/assets/pictures/272/small/0e812ce3cdc121b32b2f193f75f9105f.jpg?1306684811"><br /><span>Капитан Врунгель</span></a>
				Тип бизнеса:<br />
				<a href="#">Кафе</a>
			</div>
			<div class="telo_presentation">
				
				<div class="short_info_presentation">
				<h4><span>3</span><a href="#">«Самая вкусная пицца!!!»</a></h4>
					<p>  <img align="left" src="/images/pizza.jpg">Изобретатели пиццы – неаполитанские крестьяне, жившие в Италии несколько сотен лет назад. Будучи людьми бедными, они просто выложили на корж теста все, что нашлось в доме, и поставили в печь. А что всегда найдется в доме у каждого итальянца? Конечно же, масло оливы, сыр, помидоры, мука. Сегодня можно не только испечь пиццу самостоятельно, но и заказать ее на дом или в ресторане. Можно и купить в любом продуктовом супермаркете замороженную пиццу и приготовить ее в духовке или микроволновой печи, хотя эта пицца, конечно же, будет мало похожа на итальянскую. Чтобы сделать правильный выбор и не испортить себе обед или ужин, необходимо знать, что и в каком количестве должна содержать пицца, чтобы быть самой вкусной.</p>
					</p>
				</div>
				<table class="botton_table_top_presentation">
					<tr>
						<td>Дата:<span> 03.07.2012</span></td>
						<td>Просмотров: <span>528</span></td>
						<td>Мне нравится: <span>250</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="object_top_presentation">
			<div class="right_col_in_top_presentation"><a href="#">
				<img src="http://tihinfo.ru:3000/assets/pictures/148/large/a3ea986f6e413a92d6477df619c99bee.jpg?1305374046"><br /><span>Яна</span></a>
				Тип бизнеса:<br />
				<a href="#">Магазин</a>
			</div>
			<div class="telo_presentation">
				
				<div class="short_info_presentation">
				<h4><span>4</span><a href="#">«Комфортная мебель для жизни»</a></h4>
					<p>  <img align="left" src="http://tihinfo.ru:3000/assets/pictures/152/large/d73564bd650d5fd5fce4fc8e9b5f4908.jpg?1305374156">Мебель превращает пустое пространство комнат в уютное жилище. Насколько удачной будет меблировка квартиры, дома, зависит главным образом от вас: вашего эстетического вкуса, стилевых пристрастий, умения создавать гармоничное целое из разрозненных предметов мебели.</p>
					</p>
				</div>
				<table class="botton_table_top_presentation">
					<tr>
						<td>Дата:<span> 08.04.2012</span></td>
						<td>Просмотров: <span>538</span></td>
						<td>Мне нравится: <span>220</span></td>
					</tr>
				</table>
			</div>
		</div>
		<!--
		<div class="object_top_presentation">
			<div class="left_col_in_top_presentation"><a href="#"><br />
				<img src="/images/evroset.jpg"></a>
				<div class="label_name">Позиция:</div>
				<div class="label_data">2</div>
				
			</div>
			<div class="telo_presentation">
				<h4><a href="#">Презентация нового салона связи.</a></h4>
				<div class="description_lenta">
					<p>  <img align="left" src="/images/sotoviy.jpg">Презентация содержит учебно-справочный материал о программах-архиваторах, их типах, методах архивации; информационный материал в гиперссылках по ряду популярных программ-архиваторов; контрольные вопросы для самопроверки.</p>
				</div>
				<table class="botton_table_top_presentation">
				<tr>
				<td>Дата:
					<span class="grey_data"> 07.06.2012</span> </td>
				<td>	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
					<div class="yashare-auto-init" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,friendfeed,lj"></div> </td>
				</tr>
				</table>
			</div>
		</div>

		<div class="object_top_presentation">
			<div class="left_col_in_top_presentation"><a href="#">Байкет<br />
				<img src="/assets/pictures/1127/small/e231a705ca3e33aac5960395009ab2a0.jpg?1326198997"></a>
				<div class="label_name">Позиция:</div>
				<div class="label_data">3</div>
				
			</div>
			<div class="telo_presentation">
				<h4><a href="#">Новая мототехника уже в салоне</a></h4>
				<div class="description_lenta">
					<p>  <img align="left" src="http://image.horoshop.ru/article_image/47063/Vnedrenie_OOO_Servis_YUg_KKM._Avtomatizaciya_avtomarketa_Bajjk_Centr11.jpg">Наша компания – это молодое, динамично развивающееся предприятие с отличными связями и впечатляющими перспективами. Благодаря тесному сотрудничеству с ведущими мировыми мото- и вело- брендами, «Байк центр» оказался в числе лидеров продаж, а все велосипеды, скутеры и квадроциклы, представленные в нашем каталоге, отвечают самым высоким мировым стандартам качества.
<p>
В наши цели входит не только повсеместное распространение надежных и безопасных средств передвижения, но также популяризация здорового образа жизни, что особенно актуально в крупных городах. В последние годы на улицах Краснодара можно увидеть много качественного двухколестного транспорта, а также квадроциклов известных мировых брендов. Однако в нашем ассортименте представлены и отечественные варианты, ничуть не уступающие ни в дизайне, ни в характеристиках своим зарубежным аналогам.
</p>
				</div>
				<table class="botton_table_top_presentation">
				<tr>
				<td>Дата:
					<span class="grey_data"> 04.06.2012</span> </td>
				<td>	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
					<div class="yashare-auto-init" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,friendfeed,lj"></div> </td>
				</tr>
				</table>
			</div>
		</div>-->
	</div>
</div>

