<div id="content_mneniy">
	<h2>ТОР мнений - «Тихорецк» на 27.05.2012 г.<a onClick="history.go(-1); return false;" href="/" class="go_back_button">X</a></h2>
	<div id="top_mneniy_list">
		<div class="object_mneniy_list">
			<div class="left_col_object_mneniy_list">
				<ul>
					<li><img src="/images/kino_i_deti.jpg"></li>
					<li class="user_nik"><a href="#">Baby</a></li>
					<li ><a href="#">Знаток</a></li>
				</ul>
			</div>
			<div class ="right_col">
				<ul>
					<li><img src="http://tihinfo.ru:3000/assets/pictures/1116/small/ccccf3fbfcc9dd7001f74d4fee122d03.jpg?1326192378"></li>
					<li class="user_nik"><a href="#">Гараж</a></li>
				</ul>
			</div>
			<div class="center_col">
					<h3><span class="pos_mneniy">1</span>Мнение «<a href="#">Baby</a>» о «<a href="#">Гараж</a>» от 17.08.2011 г.</h3>
					<p>Покупкой мультиварки я запарила мозг не только своим домашним, но и всем местным интернет-магазинам :) И, пока я металась между трех сосен :„) моя мама просто поехала в «Гараж» и купила мультю :) Цена и так была почти самая низкая в городе, а нам продали еще дешевле - по цене с сайта. Хочу вам сказать, «Гараж» честно заработал свой очередной положительный отзыв. <a href="#">читать далее...</a></p>
					
			</div>
			<div class="statistik_mnebiya">
				<dl>
					  <dt>Просмотров:</dt><dd>150734</dd>
					  <dt>Коментариев:</dt><dd>120</dd>
					  <dt>Мне нравится:</dt><dd>500</dd>
				</dl>
			</div>
		</div>
		<div class="object_mneniy_list">
			<div class="left_col_object_mneniy_list">
				<ul>
					<li><img src="http://tihinfo.ru:3000/images/spec1.jpg"></li>
					<li class="user_nik"><a href="#">Егор</a></li>
					<li ><a href="#">Специалист</a></li>
				</ul>
			</div>
			<div class ="right_col">
				<ul>
					<li><img src="http://tihinfo.ru:3000/assets/pictures/273/small/6c747f1d924faef8355780b1a1acae1e.jpg?1306685125"></li>
					<li class="user_nik"><a href="#">Врунгель</a></li>
				</ul>
			</div>
			<div class="center_col">
					<h3><span class="pos_mneniy">2</span>Мнение «<a href="#">Егор</a>» о «<a href="#">Капитан Врунгель</a>» от 09.01.2012 г.</h3>
					<p>Любое кафе, бары, рестораны дают уникальную возможность для проведения праздничных банкетов. Большой популярностью пользуются свадебные банкеты. Их реализация доставляет большие хлопоты тем, кто ими занимается, поэтому воспользуйтесь случаем и перекиньте все трудности с организацией свадебного вечера на плечи работников того или иного заведения, где вы <a href="#">читать далее...</a></p>
					
			</div>
			<div class="statistik_mnebiya">
				<dl>
					  <dt>Просмотров:</dt><dd>140734</dd>
					  <dt>Коментариев:</dt><dd>110</dd>
					  <dt>Мне нравится:</dt><dd>450</dd>
				</dl>
			</div>
		</div>
		<div class="object_mneniy_list">
			<div class="left_col_object_mneniy_list">
				<ul>
					<li><img src="http://tihinfo.ru:3000/images/pritcha.jpg"></li>
					<li class="user_nik"><a href="#">Menfis</a></li>
					<li ><a href="#">Эксперт</a></li>
				</ul>
			</div>
			<div class ="right_col">
				<ul>
					<li><img src="http://tihinfo.ru:3000/images/sotoviy.jpg"></li>
					<li class="user_nik"><a href="#">Евросеть</a></li>
				</ul>
			</div>
			<div class="center_col">
					<h3><span class="pos_mneniy">3</span>Мнение «<a href="#">Menfis</a>» о «<a href="#">Евросеть</a>» от 12.07.2012 г.</h3>
					<p>Я всё-таки устроился в Евросеть. Прошел собеседования, 5-дневное обучение, медобследование (нужно для получения медкнижки), даже вышел на работу. Тут-то всё и закончилось.</p>

<p>Надо сказать, что устроился я со второй попытки. Первая была в феврале: тогда я послал резюме через сайт, мне перезвонили из отдела кадров один раз, спросили не перепутал ли я, и действительно хочу продавцом (несмотря на 5 лет опыта программиста), и больше не звонили.<a href="#">читать далее...</a></p>
					
			</div>
			<div class="statistik_mnebiya">
				<dl>
					  <dt>Просмотров:</dt><dd>150734</dd>
					  <dt>Коментариев:</dt><dd>120</dd>
					  <dt>Мне нравится:</dt><dd>500</dd>
				</dl>
			</div>
		</div>
	</div>
</div>

