<div id="content_top_presentation">
	<h2>ТОР Презентаций - «Тихорецк» на 27.05.2012 г.</h2>
	<div id="top_presentation_list">
		<div class="object_top_presentation">
			<div class="left_col_in_top_presentation"><a href="#">Стиль<br />
				<img src="/images/stil_logo.jpg"></a>
				<div class="label_name">Позиция:</div>
				<div class="label_data">1</div>
				
			</div>
			<div class="telo_presentation">
				<h4><a href="">Стиль</a> разместил новую презентацию <a href="#">«Летняя коллекция обуви»</a></h4>
				<div class="description_lenta">
					<p><img align="left" src="/images/tufli.jpg"> Большое   поступление   новой  коллекции  европейской  обуви  и  сумок лето-2012 во все магазины ОД "Покровский"
					Тел. для справок: 343/350-52-71Большое   поступление   новой  коллекции  европейской  обуви  и  сумок  во все магазины ОД "Покровский"
					Тел. для справок: 343/350-52-71 
					</p>
				</div>
				<table class="botton_table_top_presentation">
				<tr>
				<td>Дата:
					<span class="grey_data"> 03.05.2012</span> </td>
				<td>	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
					<div class="yashare-auto-init" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,friendfeed,lj"></div> </td>
				</tr>
				</table>
			</div>
		</div>
		
		<div class="object_top_presentation">
			<div class="left_col_in_top_presentation"><a href="#">Евросеть<br />
				<img src="/images/evroset.jpg"></a>
				<div class="label_name">Позиция:</div>
				<div class="label_data">2</div>
				
			</div>
			<div class="telo_presentation">
				<h4><a href="#">Презентация нового салона связи.</a></h4>
				<div class="description_lenta">
					<p>  <img align="left" src="/images/sotoviy.jpg">Презентация содержит учебно-справочный материал о программах-архиваторах, их типах, методах архивации; информационный материал в гиперссылках по ряду популярных программ-архиваторов; контрольные вопросы для самопроверки.</p>
				</div>
				<table class="botton_table_top_presentation">
				<tr>
				<td>Дата:
					<span class="grey_data"> 07.06.2012</span> </td>
				<td>	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
					<div class="yashare-auto-init" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,friendfeed,lj"></div> </td>
				</tr>
				</table>
			</div>
		</div>

		<div class="object_top_presentation">
			<div class="left_col_in_top_presentation"><a href="#">Байкет<br />
				<img src="/assets/pictures/1127/small/e231a705ca3e33aac5960395009ab2a0.jpg?1326198997"></a>
				<div class="label_name">Позиция:</div>
				<div class="label_data">3</div>
				
			</div>
			<div class="telo_presentation">
				<h4><a href="#">Новая мототехника уже в салоне</a></h4>
				<div class="description_lenta">
					<p>  <img align="left" src="http://image.horoshop.ru/article_image/47063/Vnedrenie_OOO_Servis_YUg_KKM._Avtomatizaciya_avtomarketa_Bajjk_Centr11.jpg">Наша компания – это молодое, динамично развивающееся предприятие с отличными связями и впечатляющими перспективами. Благодаря тесному сотрудничеству с ведущими мировыми мото- и вело- брендами, «Байк центр» оказался в числе лидеров продаж, а все велосипеды, скутеры и квадроциклы, представленные в нашем каталоге, отвечают самым высоким мировым стандартам качества.
<p>
В наши цели входит не только повсеместное распространение надежных и безопасных средств передвижения, но также популяризация здорового образа жизни, что особенно актуально в крупных городах. В последние годы на улицах Краснодара можно увидеть много качественного двухколестного транспорта, а также квадроциклов известных мировых брендов. Однако в нашем ассортименте представлены и отечественные варианты, ничуть не уступающие ни в дизайне, ни в характеристиках своим зарубежным аналогам.
</p>
				</div>
				<table class="botton_table_top_presentation">
				<tr>
				<td>Дата:
					<span class="grey_data"> 04.06.2012</span> </td>
				<td>	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
					<div class="yashare-auto-init" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,friendfeed,lj"></div> </td>
				</tr>
				</table>
			</div>
		</div>
	</div>
</div>

