<div id="content_top_user_page">
	<h2>ТОР пользователей - Тихорецк на 27.05.2012 г.</h2>
	<div id="top_user_list">
		<div class="object_user_list">
			<div class="inner_div">
				
				<ul>
					<li class="li_img"><img src="/images/pritcha.jpg"></li>
					<li class="user_nik">Рейтинг: <br /> <span>1</span></li>
				</ul>
				
				<div class="user_statistic">
					<table>
					<tr><td class="stat_pole">Ник:</td><td class="stat_data">Катя</td></tr>
					 <tr><td class="stat_pole">Звание:</td><td class="stat_data"><a href="#">Гуру</a></td></tr>
					 <tr><td class="stat_pole">Мнений:</td><td class="stat_data"><a href="#">197</a></td></tr>
					 <tr><td class="stat_pole">Просмотров:</td><td class="stat_data">157981</td></tr>
					 <tr><td class="stat_pole">Коментариев:</td><td class="stat_data"><a href="#">378</a></td></tr>
					 <tr><td class="stat_pole">Благодарностей:</td><td class="stat_data"><a href="#">20</a></td></tr>
					</table>
				</div>
			</div>
		</div> 
		
		<div class="object_user_list">
			<div class="inner_div">
				
				<ul>
					<li class="li_img"><img src="/images/default_user_avatar.jpg"></li>
					<li class="user_nik">Рейтинг: <br /> <span>2</span></li>
				</ul>
				<div class="user_statistic">
					<table>
					<tr><td class="stat_pole">Ник:</td><td class="stat_data">Niagara</td></tr>
					<tr><td class="stat_pole">Звание:</td><td class="stat_data"><a href="#">Магистр</a></td></tr>
					<tr><td class="stat_pole">Мнений:</td><td class="stat_data"><a href="#">197</a></td></tr>
					<tr><td class="stat_pole">Просмотров:</td><td class="stat_data">157981</td></tr>
					<tr><td class="stat_pole">Коментариев:</td><td class="stat_data"><a href="#">378</a></td></tr>
					<tr><td class="stat_pole">Благодарностей:</td><td class="stat_data"><a href="#">20</a></td></tr>
					</table>
					</div>
			</div>
		</div>
		
		
		<div class="object_user_list">
			<div class="inner_div">
				
				<ul>
					<li class="li_img"><img src="/images/user_icon_2.jpg"></li>
					<li class="user_nik">Рейтинг: <br /> <span>3</span></li>
				</ul>
				<div class="user_statistic">
					<table>
					<tr><td class="stat_pole">Ник:</td><td class="stat_data">Аватар</td></tr>
					<tr><td class="stat_pole">Звание:</td><td class="stat_data"><a href="#">Мастер</a></td></tr>
					<tr><td class="stat_pole">Мнений:</td><td class="stat_data"><a href="#">197</a></td></tr>
					<tr><td class="stat_pole">Просмотров:</td><td class="stat_data">15981</td></tr>
					<tr><td class="stat_pole">Коментариев:</td><td class="stat_data"><a href="#">318</a></td></tr>
					<tr><td class="stat_pole">Благодарностей:</td><td class="stat_data"><a href="#">18</a></td></tr>
					</table>
					</div>
			</div>
		</div>
		
		<div class="object_user_list">
			<div class="inner_div">
				
				<ul>
					<li class="li_img"><img src="/images/spec2.jpg"></li>
					<li class="user_nik">Рейтинг: <br /> <span>432</span></li>
				</ul>
				<div class="user_statistic">
					<table>
					<tr><td class="stat_pole">Ник:</td><td class="stat_data">Answer</td></tr>
					<tr><td class="stat_pole">Звание:</td><td class="stat_data"><a href="#">Мастер</a></td></tr>
					<tr><td class="stat_pole">Мнений:</td><td class="stat_data"><a href="#">197</a></td></tr>
					<tr><td class="stat_pole">Просмотров:</td><td class="stat_data">15981</td></tr>
					<tr><td class="stat_pole">Коментариев:</td><td class="stat_data"><a href="#">318</a></td></tr>
					<tr><td class="stat_pole">Благодарностей:</td><td class="stat_data"><a href="#">18</a></td></tr>
					</table>
					</div>
			</div>
		</div>
	
		
		<div class="object_user_list">
			<div class="inner_div">
				
				<ul>
					<li class="li_img"><img src="/images/spec4.jpg"></li>
					<li class="user_nik">Рейтинг: <br /> <span>5</span></li>
				</ul>
				<div class="user_statistic">
					<table>
					<tr><td class="stat_pole">Ник:</td><td class="stat_data">Голд_мембер</td></tr>
					<tr><td class="stat_pole">Звание:</td><td class="stat_data"><a href="#">Мастер</a></td></tr>
					<tr><td class="stat_pole">Мнений:</td><td class="stat_data"><a href="#">197</a></td></tr>
					<tr><td class="stat_pole">Просмотров:</td><td class="stat_data">15981</td></tr>
					<tr><td class="stat_pole">Коментариев:</td><td class="stat_data"><a href="#">318</a></td></tr>
					<tr><td class="stat_pole">Благодарностей:</td><td class="stat_data"><a href="#">18</a></td></tr>
					</table>
					</div>
			</div>
		</div>
		
	
		
		<div class="object_user_list">
			<div class="inner_div">
				
				<ul>
					<li class="li_img"><img src="/images/spec3.jpg"></li>
					<li class="user_nik">Рейтинг: <br /> <span>6</span></li>
				</ul>
				<div class="user_statistic">
					<table>
					<tr><td class="stat_pole">Ник:</td><td class="stat_data">Hospital</td></tr>
					<tr><td class="stat_pole">Звание:</td><td class="stat_data"><a href="#">Мастер</a></td></tr>
					<tr><td class="stat_pole">Мнений:</td><td class="stat_data"><a href="#">197</a></td></tr>
					<tr><td class="stat_pole">Просмотров:</td><td class="stat_data">15981</td></tr>
					<tr><td class="stat_pole">Коментариев:</td><td class="stat_data"><a href="#">318</a></td></tr>
					<tr><td class="stat_pole">Благодарностей:</td><td class="stat_data"><a href="#">18</a></td></tr>
					</table>
					</div>
			</div>
		</div>
		
		
		
<!--

<div class="object_user_list">
			<div class="inner_div">
				<div class="pos_number">6</div>
				<ul>
					<li class="li_img"><img src="/images/spec3.jpg"></li>
					<li class="user_nik"><a href="#">Hospital</a></li>
				</ul>
				<div class="user_statistic">
<table><tr><td class="stat_pole">Звание:</td><td class="stat_data"><a href="#">Знаток</a></td></tr>
<tr><td class="stat_pole">Мнений:</td><td class="stat_data"><a href="#">137</a></td></tr>
<tr><td class="stat_pole">Коментариев:</td><td class="stat_data"><a href="#">278</a></td></tr>
<tr><td class="stat_pole">Просмотров:</td><td class="stat_data">15791</td></tr>
<tr><td class="stat_pole">Благодарностей:</td><td class="stat_data"><a href="#">12</a></td>
				</table>
			</div>
		</div>
<div class="object_user_list">
			<div class="inner_div">
				<div class="pos_number">7</div>
				<ul>
					<li class="li_img"><img src="/images/spec1.jpg"></li>
					<li class="user_nik"><a href="#">MEmfis</a></li>
				</ul>
				<div class="user_statistic">
<table><tr><td class="stat_pole">Звание:</td><td class="stat_data"><a href="#">Знаток</a></td></tr>
<tr><td class="stat_pole">Мнений:</td><td class="stat_data"><a href="#">297</a></td></tr>
<tr><td class="stat_pole">Коментариев:</td><td class="stat_data"><a href="#">178</a></td></tr>
<tr><td class="stat_pole">Просмотров:</td><td class="stat_data">17981</td></tr>
<tr><td class="stat_pole">Благодарностей:</td><td class="stat_data"><a href="#">15</a></td>
				</table>
			</div>
		</div>
<div class="object_user_list">
			<div class="inner_div">
				<div class="pos_number">8</div>
				<ul>
					<li class="li_img"><img src="/images/kino_i_deti.jpg"></li>
					<li class="user_nik"><a href="#">Baby</a></li>
				</ul>
				<div class="user_statistic">
<table><tr><td class="stat_pole">Звание:</td><td class="stat_data"><a href="#">Знаток</a></td></tr>
<tr><td class="stat_pole">Мнений:</td><td class="stat_data"><a href="#">120</a></td></tr>
<tr><td class="stat_pole">Коментариев:</td><td class="stat_data"><a href="#">100</a></td></tr>
<tr><td class="stat_pole">Просмотров:</td><td class="stat_data">100981</td></tr>
<tr><td class="stat_pole">Благодарностей:</td><td class="stat_data"><a href="#">10</a></td>
				</table>
			</div>
		</div>-->
	</div>
</div>

