<div class="needle"> 
<a href="/" class="homepage"><img alt="Sortfolio" height="100" src="/images/logo_card-interior-small.png" width="48" /></a> 
</div> 

<div class="signup guest_user" id="signup"> 
<a href="/signup"></a> 
<div class="signup_description" id="slide_listed" style="display: none"> 
<div class="signup_text"><a href="/signup">Create a listing. Add a portfolio. Start getting work.</a></div> 
</div> 
</div> 

<div class="nav">
  <a href="/cities">Поиск</a> |
  <a href="/about">О каталогах</a> |
  <a href="/favorites">Избранное</a> |
  <a href="/login" class="guest_user">Войти в каталог</a>
</div>


<div class="masthead"> 
<a href="/" class="homepage"><img alt="Sortfolio" height="21" src="/images/logo_sortfolio-type-small.png" width="100" /></a> 

<h1>Web designers in Atlanta</h1> 
</div> 

<div class="filterbar"> 
<div class="filter search"> 
<ul class="search_bar"> 
<li>Showing all web designers in &nbsp;</li> 

<li class="menu"> 
<a href="#" id="search_location_name">Atlanta</a> 
<div id='search_location_menu' style="display:none" class="search_menu"> 
    <a href="/" class="search_location_menu_links homepage">Any city</a> 

      <a href="/atlanta" class="search_location_menu_links">Atlanta</a> 
      <a href="/boston" class="search_location_menu_links">Boston</a> 
      <a href="/chicago" class="search_location_menu_links">Chicago</a> 
      <a href="/dallas" class="search_location_menu_links">Dallas</a> 
      <a href="/denver" class="search_location_menu_links">Denver</a> 
      <a href="/london" class="search_location_menu_links">London</a> 
      <a href="/los-angeles" class="search_location_menu_links">Los Angeles</a> 
      <a href="/minneapolis" class="search_location_menu_links">Minneapolis</a> 
      <a href="/nyc" class="search_location_menu_links">New York</a> 
      <a href="/portland" class="search_location_menu_links">Portland</a> 
      <a href="/san-francisco" class="search_location_menu_links">San Francisco</a> 
      <a href="/seattle" class="search_location_menu_links">Seattle</a> 
      <a href="/toronto-canada" class="search_location_menu_links">Toronto</a> 
      <a href="/vancouver-canada" class="search_location_menu_links">Vancouver</a> 
      <a href="/washington-dc" class="search_location_menu_links">Washington</a> 
  <div class="last_menu"> 
    <a href="/cities" class="search_location_menu_links">List all cities</a> 
  </div> 
</div> 
</li> 

<li>&nbsp; who work on projects for &nbsp;</li> 

<li class="menu"> 
<a href="#" id="search_budget_name">Any budget</a> 
<div id='search_budget_menu' style="display:none" class="search_menu"> 
    <a href="/atlanta" class="search_budget_menu_links">Any budget</a> 

      <a href="/atlanta/3000-under" class="search_budget_menu_links">$3,000 and under</a> 
      <a href="/atlanta/3000-to-10000" class="search_budget_menu_links">$3,000-$10,000</a> 
      <a href="/atlanta/10000-to-25000" class="search_budget_menu_links">$10,000-$25,000</a> 
      <a href="/atlanta/25000-to-50000" class="search_budget_menu_links">$25,000-$50,000</a> 
      <a href="/atlanta/50000-above" class="search_budget_menu_links">Over $50,000</a> 
</div> 
</li> 
</ul> 
</div> 


<div id="related_locations"> 
<ul> 
<li> 
Also in <strong><a href="/georgia">Georgia</a></strong>:
</li> 
<li><a href="/athens-ga">Athens</a></li> 
<li><a href="/augusta-ga">Augusta</a></li> 
<li><a href="/chattanooga-ga">Chattanooga</a></li> 
<li><a href="/fitzgerald-ga">Fitzgerald</a></li> 
<li><a href="/macon-ga">Macon</a></li> 
<li><a href="/savannah-ga">Savannah</a></li> 
</ul> 
</div> 

</div> 

