<div class="needle">
  <a href="/" class="homepage">
    <img alt="Потребительский обозреватель" height="100" src="/images/potreb_oboz_logo_2.gif" height="87" width="368">
  </a>
</div>
<div class="signup guest_user" id="signup">
  <a href="/signup"></a>
  <div class="signup_description" id="slide_listed" style="height: 70px; ">
    <div class="signup_text">
      <a href="/signup">Создай каталог. Внеси товары. Создай услуги. Добавь фото.</a>
    </div>
  </div>
</div>
<div class="nav">
  <a href="/cities">Поиск</a> |
  <a href="/about">О каталогах</a> |
  <a href="/favorites">Избранное</a> |
  <% if current_user %>
    <a href="/logout" class="guest_user">Выйти из каталога</a>
  <% else %>
    <a href="/login" class="guest_user">Войти в каталог</a>
  <% end %>
</div>
<div class="filterbar"></div>