<div class="card-perma"> 
    <div class="cardcap-perma"><img alt="Card-top-perma" src="/images/card-top-perma.png" /></div> 
      <div class="cardcontent-perma"> 
      <h2>Сохраните самые интересные ссылки в браузере.</h2> 
      <h4>
        Соберите все интересующие Вас компании на одну страницу.<br />
        Добавляйте или редактируйте Ваш список в любое время.<br /> 
        Поделитесь своими ссылками с друзьями и знакомыми.</h4> 
      <div class="about"> 
        <img align="left" alt="Add to favorites" src="/images/img_favorites-save.png" /> 
        <h3>Добавить в избранное.</h3> 
        <p>Кликните &ldquo;Добавить в избранное&rdquo; чтобы добавить компанию в Ваш список. Сравните компании по удобству, качеству и цене.</p> 
      </div> 
      <div class="about"> 
        <img align="left" alt="Share your list" src="/images/img_favorites-link.png" /> 
        <h3>Поделитесь своим списком.</h3>
        <p>После того как Вы создали список, поделитесь им с друзьями. Отправьте по электронной почте адрес внизу вашего списка.</p> 
      </div> 
      <div class="clear"></div> 
      <p style="margin-left: 20px;"><a href="/">Начните поиск товаров и услуг</a></p> 
    </div> 
    <div class="cardcap-perma"><img alt="Card-bottom-perma" src="/images/card-bottom-perma.png" /></div> 
  </div>
