<div class="card-perma"> 
    <div class="cardcap-perma"><img alt="Card-top-perma" src="/images/card-top-perma.png" /></div> 
      <div class="cardcontent-perma"> 
      <h2>Save your favorite web designers as you browse.</h2> 
      <h4>All the companies you&rsquo;re interested in on one page. Add to or edit your list any time.<br /> 
      Share your favorites with friends and co-workers.</h4> 
      <div class="about"> 
        <img align="left" alt="Add to favorites" src="/images/img_favorites-save.png" /> 
        <h3>Add to favorites.</h3> 
        <p>Click &ldquo;Save to favorites&rdquo; to add the company to your list. Compare the designers&rsquo; work, location, and budget.</p> 
      </div> 
      <div class="about"> 
        <img align="left" alt="Share your list" src="/images/img_favorites-link.png" /> 
        <h3>Share your list.</h3> 
        <p>When you&rsquo;re done adding your favorites, share them with co-workers. Email the website address at the bottom of your list.</p> 
      </div> 
      <div class="clear"></div> 
      <p style="margin-left: 20px;"><a href="http://sortfolio.com/">Start looking for web designers</a></p> 
    </div> 
    <div class="cardcap-perma"><img alt="Card-bottom-perma" src="/images/card-bottom-perma.png" /></div> 
  </div>
