<div class="needle">
  <a href="/" class="homepage">
    <img alt="Sortfolio" height="100" src="/images/clover_logo_card-interior.png" width="90">
  </a>
</div>
<div class="success"> 
  <a href="/success"></a> 
</div>
<div class="nav"> 
  <a href="/about">О каталогах</a> | <a href="/success">Успех наших клиентов</a> 
</div>
<div class="masthead"> 
  <a href="/" class="homepage"><img alt="Sortfolio" height="39" src="/images/logo_magfolio-type.png" width="152" /></a> 
</div>
<div class="filterbar">
  <div class="steps">
    <%= link_to image_tag("/images/step_1-gray.png", :class=>'first', :align=>'absmiddle'), signup_stage1_path %>
    <%= link_to "Создайте свой каталог", signup_stage1_path %>
    <img align="absmiddle" alt="Step 2" src="/images/step_2-blue.png" /> Выберите вид каталога
    <img align="absmiddle" alt="Step 3" src="/images/step_3-gray.png" /> Опубликуйте каталог
  </div>
</div>
