<form action="/" class="account account_form" id="queenbee_redirect_form" method="post">
  <div class="create_form"> 
    <h1>Ваша учётная запись</h1> 
    <p>Перед тем как разместиться в каталоге Клевер Вам необходимо создать учётную запись. Однажды создав учётную запись Вы сможете обновлять информацию о своей компании и изменять фотографии столько сколько захотите.</p> 
    <p><label>Ваш email адрес</label></p> 
    <input id="qb_data_owner_email" name="qb[data][owner_email]" size="30" type="text" /><br /> 
    <small>Это секретный email (клиенты не должны видеть этот адрес).</small>
    <div id="email_error" style='display: none;' class="liveValidationErrors"> 
      <small>Email is already taken. Please choose another Username.</small> 
    </div>
    <p><label for="qb_data_password">Пароль</label></p> 
    <input id="qb_data_password" name="qb[data][password]" size="30" type="password" /><br /> 
    <small>Должен быть более 6 символов.</small>  
    <p>Кликнув на <strong>Создать каталог &amp; Зарегистрировать</strong> Вы соглашаетесь с <a href="/terms" target="blank">Условиями использования</a>, <a href="/privacy" target="blank">Privacy</a> и <a href="http://www.spknd.ru/refund" target="_blank">Refund Policy</a>.</p> 
    <p>
      <input alt="Publish listing &amp; Create account" class="submit_image" src="/images/btn_publish.png" type="image" />
    </p> 
  </div> 
</form>

