<script type="text/javascript"> 
//<![CDATA[
document.observe('dom:loaded', ListingSignup.install_form_validators)
//]]>
</script> 

<form action="https://billing.37signals.com/signup/transparent" class="account account_form" id="queenbee_redirect_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="ztqGuN7neC5PnJtwmAOJZzIQhV/HvVvsmkjX4ovPKGY=" /></div><input id="qb_plan" name="qb[plan]" type="hidden" value="free" /><input id="qb_price" name="qb[price]" type="hidden" value="0" /><input id="qb_failure" name="qb[failure]" type="hidden" value="https://sortfolio.com/signup/free/publish" /><input id="qb_data_listing_id" name="qb[data][listing_id]" type="hidden" value="11058" /><input id="qb_data_image_id" name="qb[data][image_id]" type="hidden" value="14939" /><input id="qb_product_name" name="qb[product_name]" type="hidden" value="sortfolio" /><input id="qb_success" name="qb[success]" type="hidden" value="https://sortfolio.com/signup/complete" /><input id="qb_keys" name="qb[keys]" type="hidden" value="plan,price,failure,data:listing_id,data:image_id,product_name,success" /><input id="qb_signature" name="qb[signature]" type="hidden" value="8f58fabaa635e1837ba4309fde9c0c83c99b443f" /><input id="qb_data_name" name="qb[data][name]" type="hidden" value="Марлен" /><input id="qb_data_owner_name" name="qb[data][owner_name]" type="hidden" value="Марлен" /> 
<div class="create_form"> 
  <h1>Create your account</h1> 
  <p>Before we can list your company in Sortfolio you&rsquo;ll need to create an account. Once you have an account you&rsquo;ll be able to update your listing as often as you'd like.</p> 

  <p><label for="qb_data_owner_email">Your email address</label></p> 
<input id="qb_data_owner_email" name="qb[data][owner_email]" size="30" type="text" /><br /> 
<small>This is how we'll stay in touch (clients don&rsquo;t see this address).</small> 

<div id="email_error" style='display: none;' class="liveValidationErrors"> 
<small>Email is already taken. Please choose another Username.</small> 
</div> 

<p><label for="qb_data_password">Password</label></p> 
<input id="qb_data_password" name="qb[data][password]" size="30" type="password" /><br /> 
<small>Must be at least 6 characters.</small> 

<p><label for="qb_data_password_confirmation">Password again</label></p> 
<input id="qb_data_password_confirmation" name="qb[data][password_confirmation]" size="30" type="password" /><br /> 
<div id="password_error" style='display: none;' class="liveValidationErrors"> 
<small>Your password confirmation does not match the password.</small> 
</div> 
<small>Confirm your password by entering it again.</small> 

  
  <p>By clicking <strong>Publish listing &amp; Create account</strong> you agree to the <a href="/terms" target="blank">Terms of Service</a>, <a href="/privacy" target="blank">Privacy</a> and <a href="http://www.37signals.com/refund" target="_blank">Refund Policy</a>.</p> 
  <p><input alt="Publish listing &amp; Create account" class="submit_image" src="/images/btn_publish.png" type="image" /></p> 
</div> 
</form> 
<div class="example_card"> 
<h3>This will be published in Sortfolio.</h3> 



<div class="card listing_content"> 

<div class="cardcap"><img alt="Card-top-publish" height="10" src="/images/card-top-publish.png" width="225" /></div> 
<div class="cardcontent"> 
  <div class="cardcompany listing_content"> 
    <h2>Марлен</h2> 
    <p>$3,000 and under<br /> 
    <span>Rabat</span></p> 
  </div> 
  <div class="free-image"> 
    
    <img alt="14573_1299005890" class="tipify_image" src="/images/14573_1299005890.small.jpg" /> 
  </div> 

</div> 
<div class="cardcap"><img alt="Card-bottom" src="/images/card-bottom.png" /></div> 
</div> 


<div style="clear: both;"> 
  Want a bigger card and more space to display your best work to potential clients? <a href="/signup/pro/publish">Upgrade to Pro</a> 
</div> 
</div> 

<div class="clear"></div> 
