<div class="example_card"> 
  <h3>Бесплатный каталог будет выглядеть так...</h3> 
  <div class="card"> 
    <div class="cardcap">
      <img alt="Card-top" src="/images/card-top.png" />
    </div> 
    <div class="cardcontent"> 
      <div class="cardcompany"> 
        <h2>
          <a href="#" id="live_company_name" onclick = "return false">Имя Вашей компании</a>
        </h2> 
        <p><span id="live_budget">Типичные товары или услуги</span><br /> 
          <span id="live_company_location">Город</span></p> 
      </div> 
      <a href="#" onclick="return false">
        <img alt="image" id="preview_card_image" src="/images/img_empty-small.png" />
      </a> 
      <div class="caption">
        <span id="live_image_description">Краткое описание бизнеса</span>
      </div> 
    </div> 
    <div class="cardcap">
      <img alt="Card-bottom" src="/images/card-bottom.png" />
    </div> 
  </div> 
</div>

<div class="create_form">
    <div class="image_upload"> 
      <h2>Сначала, лучшую фотографию Вашего бизнеса</h2> 
      <img align="right" alt="Img_uploadsample" src="/images/img_uploadsample.png" style="margin-left: 10px;" /> 
      <p>Загрузите изображение которое лучше всего представило бы Вашу компанию, так сказать лицо Вашего бизнеса. Позже Вы всегда сможете изменить это изображение.</p> 
      <p><strong>Для лучшего результата загрузите картинку размером 900 x 630 JPG или PNG.</strong><br /> 
      <em>Нет в таком размере? Ничего, мы подгоним размер под нужный формат.</em></p>
      <div id="upload_best_business_file">
        <input accept="image/*" id="listing_logo" name="listing[logo]" size="30" style="width: 300px; height: 21px;" type="file" />
      </div> 
      <div id="upload_progress_bar" style="display:none"> 
        <img alt="Spinner-small" src="/images/spinner-small.gif" />
      </div> 
      <p>
        <label for="listing_portfolio_images_attributes_0_description">
        Описание изображения которое Вы добавили</label><br />
        <small>Например: Центральный магазин торговой сети "Товары для дома"</small><br />
        <textarea cols="40" id="listing_portfolio_images_attributes_0_description" name="listing[portfolio_images_attributes][0][description]" rows="20"></textarea>
      </p> 
    </div>  
    <div class="about_company"> 
      <h2>Теперь расскажите нам о Вашем бизнесе</h2> 
      <p><label for="listing_company_name">Как называется Ваша компания?</label><br /> 
      <small>Вы можете использовать Ваше собственное имя, если Вы частный предприниматель.</small></p> 
      <input id="listing_company_name" name="listing[company_name]" size="30" type="text" /> 
      <p><label for="listing_logo">Загрузите логотип Вашей компании</label> &ndash; не обязательно<br /> 
      <small>GIF, JPG, or PNG. Будут подогнаны под нужный размер.<br />
        Он будет размещён на странице Вашего каталога, чтобы клиенты могли его видеть.</small></p> 
      <%= form_for @signup, :url => '/signup/logoupload', :html => {:multipart => true } do |f| %>
        <%= f.file_field :logo, :accept => "image/*" %>          
      <% end %>
      <div id="logo_upload_progress_bar" style="display:none"> 
        <img alt="Spinner-small" src="/images/spinner-small.gif" />
      </div>
      <p><label for="listing_budget_id">К какому виду деятельности относиться Ваша компания?</label></p> 
      <select id="listing_location_id" name="listing[location_id]">
        <option value="">Выберите вид деятельности...</option> 
        <option value="1">Торговля</option> 
        <option value="2">Промышленное производство</option> 
        <option value="3">Услуги</option> 
        <option value="4">Сельское хозяйство</option> 
        <option value="0">Моего бизнеса нет в списке</option>
      </select> 
      <p> 
        <label for="listing_location_id">Какой населённый пункт является главным для Вашей компании?</label><br /> 
        <small>
          &bull; Если Ваша компания ведёт дело во многих городах, выберите главный.<br />
          &bull; Если Вашего города нет в списке выберите &ldquo;Моего города нет в списке&rdquo;.
        </small> 
      </p> 
      <select id="listing_location_id" name="listing[location_id]">
        <option value="">Выберите город...</option> 
        <option value="1">Тихорецк</option> 
        <option value="2">Фастовецкая</option> 
        <option value="3">Кропоткин</option> 
        <option value="4">Новопокровская</option> 
        <option value="0">Моего города нет в списке</option>
      </select> 
    </div> 
    <div class="contact"> 
      <h2>Как клиенты могут связаться с Вами?</h2>
      <p> 
        <label for="listing_contact_email">Телефон</label> - обязательно<br /> 
        <small>Введите номер телефона с кодом города (например: (86196) 41616 )</small> 
      </p>
      <input id="listing_contact_phone" name="listing[contact_email]" size="30" type="text" />
      <p> 
        <label for="listing_contact_email">Электронная почта</label> - не обязательно<br /> 
        <small>Введите адрес электронной почты (например: sales@mydomain.ru)</small> 
      </p> 
      <input id="listing_contact_email" name="listing[contact_email]" size="30" type="text" /> 
      <p> 
        <label for="listing_website_url">Вебсайт URL</label> - не обязательно<br /> 
        <small>(например: www.mydomain.ru)</small> 
      </p> 
      <input id="listing_website_url" name="listing[website_url]" size="30" type="text" /> 
    </div> 
    <div id='submit_button'> 
      <p><input alt="Сохранить и продолжить" class="submit_image" onclick="ListingSignup.show_spinner()" src="/images/btn_saveandcontinue.png" type="image" /></p> 
    </div> 
  
</div> 

<iframe id="upload_iframe" name="upload_iframe" style="width:0;height:0" src="" frameborder="0">
</iframe>
<script type="text/javascript">
//<![CDATA[
   var signup_id = 0 ;
//]]>
</script>

<div class="clear"></div>


        

