<div class="example_card"> 
<h3>Your free listing will look like this...</h3> 
<div class="card"> 
  <div class="cardcap"><img alt="Card-top" src="/images/card-top.png" /></div> 

  <div class="cardcontent"> 
    <div class="cardcompany"> 
      <h2><a href="#" id="live_company_name" onclick = "return false">Your company name</a></h2> 
      <p><span id="live_budget">Typical project budget range</span><br /> 
        <span id="live_company_location">Company location</span></p> 
    </div> 

    <a href="#" onclick="return false"><img alt="image" id="preview_card_image" src="/images/img_empty-small.png" /></a> 
    <div class="caption"><span id="live_image_description">Your image description</span></div> 
  </div> 

  <div class="cardcap"><img alt="Card-bottom" src="/images/card-bottom.png" /></div> 
</div> 
</div> 

<div class="create_form"> 

<form action="/signup" class="listing_form" enctype="multipart/form-data" id="signup_listing_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="AHtnEay+m9HUYtyE/lFp38GEY6A5TqaasIi29NANjGY=" /></div> 
  
<div class="image_upload"> 
  <h2>First, add a picture of your best work</h2> 
  <img align="right" alt="Img_uploadsample" src="/images/img_uploadsample.png" style="margin-left: 10px;" /> 
  <p>Upload an image of your work that best represents your primary style. You can always change this image after your card has been created.</p> 
  <p><strong>For best results upload a 900 x 630 JPG or PNG.</strong><br /> 
    <em>Don&rsquo;t have that size? We&rsquo;ll resize what you have to make sure it fits.</em></p> 

    <div id="upload_progress_file"> 
      <input accept="image/*" id="listing_portfolio_images_attributes_0_image" name="listing[portfolio_images_attributes][0][image]" size="30" style="width: 300px; height: 21px;" type="file" /> 
    </div> 

    <div id="upload_progress_bar" style="display:none"> 
      <img alt="Spinner-small" src="/images/spinner-small.gif" /> 
    </div> 

    <p><label for="listing_portfolio_images_attributes_0_description">Describe the image you just added</label><br /><small>Example: This is a screenshot from our latest homepage redesign of starbucks.com</small><br /> 
    <textarea cols="40" id="listing_portfolio_images_attributes_0_description" name="listing[portfolio_images_attributes][0][description]" rows="20"></textarea></p> 
</div> 

<div class="about_company"> 
  <h2>Now, tell us about your business</h2> 

<p><label for="listing_company_name">What's your company name?</label><br /> 
<small>You can use your own name if you're a freelancer and don't have a company name.</small></p> 
<input id="listing_company_name" name="listing[company_name]" size="30" type="text" /> 


<p><label for="listing_logo">Upload your company logo</label> &ndash; optional<br /> 
  <small>GIF, JPG, or PNG. We&rsquo;ll resize what you have.<br /> 
  This is shown on your listing page for clients to see.</small></p> 
  <input accept="image/*" id="listing_logo" name="listing[logo]" size="30" style="width: 300px; height: 21px;" type="file" /> 

  <p><label for="listing_budget_id">What type of budgets do you typically work with?</label></p> 
  <div class="budget_choices"> 
    <label for="listing_budget_id_1"><input id="listing_budget_id_1" name="listing[budget_id]" type="radio" value="1" />&nbsp;<span class='budget_label'>$3,000 and under</span></label> 
  </div> 
  <div class="budget_choices"> 
    <label for="listing_budget_id_2"><input id="listing_budget_id_2" name="listing[budget_id]" type="radio" value="2" />&nbsp;<span class='budget_label'>$3,000-$10,000</span></label> 
  </div> 
  <div class="budget_choices"> 
    <label for="listing_budget_id_3"><input id="listing_budget_id_3" name="listing[budget_id]" type="radio" value="3" />&nbsp;<span class='budget_label'>$10,000-$25,000</span></label> 
  </div> 
  <div class="budget_choices"> 
    <label for="listing_budget_id_4"><input id="listing_budget_id_4" name="listing[budget_id]" type="radio" value="4" />&nbsp;<span class='budget_label'>$25,000-$50,000</span></label> 
  </div> 
  <div class="budget_choices"> 
    <label for="listing_budget_id_5"><input id="listing_budget_id_5" name="listing[budget_id]" type="radio" value="5" />&nbsp;<span class='budget_label'>Over $50,000</span></label> 
  </div> 

<p> 
<label for="listing_location_id">Which city or metro area is closest to your company headquarters?</label><br /> 
<small>&bull; If your company has multiple locations, choose the main location.<br />&bull; If your city is not listed, choose &ldquo;My city is not listed&rdquo;.</small> 
</p> 


<select id="listing_location_id" name="listing[location_id]"><option value="">Select a location...</option> 
<option value="464">Atlanta</option> 
<option value="465">Boston</option> 
<option value="466">Chicago</option> 
<option value="475">Dallas</option> 
<option value="219">Denver</option> 
<option value="21">London</option> 
<option value="468">Los Angeles</option> 
<option value="473">Minneapolis</option> 
<option value="470">New York</option> 
<option value="80">Portland</option> 
<option value="471">San Francisco</option> 
<option value="472">Seattle</option> 
<option value="736">Toronto</option> 
<option value="716">Vancouver</option> 
<option value="14">Washington</option> 
<option value="0">My city is not listed</option></select> 

<div id="other_listing_location" style="display: none;"> 
<div class="us_select"> 
  <div class="us"> 
    <label for="listing_in_us_yes"><input checked="checked" id="listing_in_us_yes" name="listing[in_us]" type="radio" value="yes" />&nbsp;<span class='us'>I'm in the US</span></label> 
  </div> 
  <div class="us"> 
    <label for="listing_in_us_no"><input id="listing_in_us_no" name="listing[in_us]" type="radio" value="no" />&nbsp;<span class='us'>I'm outside of the US</span></label> 
  </div> 
</div> 

<div id="other_listing_location_state" style="display: none; clear: both;"> 
  <p><label for="listing_state_id">Select your state</label><br /> 
    <select id="listing_state_id" name="listing[state_id]"><option value=""></option> 
<option value="1">Alabama</option> 
<option value="2">Alaska</option> 
<option value="3">Arizona</option> 
<option value="4">Arkansas</option> 
<option value="5">California</option> 
<option value="6">Colorado</option> 
<option value="7">Connecticut</option> 
<option value="8">Delaware</option> 
<option value="9">Florida</option> 
<option value="10">Georgia</option> 
<option value="11">Hawaii</option> 
<option value="12">Idaho</option> 
<option value="13">Illinois</option> 
<option value="14">Indiana</option> 
<option value="15">Iowa</option> 
<option value="16">Kansas</option> 
<option value="17">Kentucky</option> 
<option value="18">Louisiana</option> 
<option value="19">Maine</option> 
<option value="20">Maryland</option> 
<option value="21">Massachusetts</option> 
<option value="22">Michigan</option> 
<option value="23">Minnesota</option> 
<option value="24">Mississippi</option> 
<option value="25">Missouri</option> 
<option value="26">Montana</option> 
<option value="27">Nebraska</option> 
<option value="28">Nevada</option> 
<option value="29">New Hampshire</option> 
<option value="30">New Jersey</option> 
<option value="31">New Mexico</option> 
<option value="32">New York</option> 
<option value="33">North Carolina</option> 
<option value="34">North Dakota</option> 
<option value="35">Ohio</option> 
<option value="36">Oklahoma</option> 
<option value="37">Oregon</option> 
<option value="38">Pennsylvania</option> 
<option value="39">Rhode Island</option> 
<option value="40">South Carolina</option> 
<option value="41">South Dakota</option> 
<option value="42">Tennessee</option> 
<option value="43">Texas</option> 
<option value="44">Utah</option> 
<option value="45">Vermont</option> 
<option value="46">Virginia</option> 
<option value="47">Washington</option> 
<option value="48">Washington, DC</option> 
<option value="49">West Virginia</option> 
<option value="50">Wisconsin</option> 
<option value="51">Wyoming</option></select></p> 
</div> 

<div id="other_listing_location_country" style="display: none; clear: both;"> 
  <p><label for="listing_country_id">Select your country</label><br /> 
    <select id="listing_country_id" name="listing[country_id]"><option value=""></option> 
<option value="1">Afghanistan</option> 
<option value="2">Åland Islands</option> 
<option value="3">Albania</option> 
<option value="4">Algeria</option> 
<option value="5">American Samoa</option> 
<option value="6">Andorra</option> 
<option value="7">Angola</option> 
<option value="8">Anguilla</option> 
<option value="9">Antarctica</option> 
<option value="10">Antigua And Barbuda</option> 
<option value="11">Argentina</option> 
<option value="12">Armenia</option> 
<option value="13">Aruba</option> 
<option value="14">Australia</option> 
<option value="15">Austria</option> 
<option value="16">Azerbaijan</option> 
<option value="17">Bahamas</option> 
<option value="18">Bahrain</option> 
<option value="19">Bangladesh</option> 
<option value="20">Barbados</option> 
<option value="21">Belarus</option> 
<option value="22">Belgium</option> 
<option value="23">Belize</option> 
<option value="24">Benin</option> 
<option value="25">Bermuda</option> 
<option value="26">Bhutan</option> 
<option value="27">Bolivia, Plurinational State Of</option> 
<option value="28">Bosnia And Herzegovina</option> 
<option value="29">Botswana</option> 
<option value="30">Bouvet Island</option> 
<option value="31">Brazil</option> 
<option value="32">British Indian Ocean Territory</option> 
<option value="33">Brunei Darussalam</option> 
<option value="34">Bulgaria</option> 
<option value="35">Burkina Faso</option> 
<option value="36">Burundi</option> 
<option value="37">Cambodia</option> 
<option value="38">Cameroon</option> 
<option value="39">Canada</option> 
<option value="40">Cape Verde</option> 
<option value="41">Cayman Islands</option> 
<option value="42">Central African Republic</option> 
<option value="43">Chad</option> 
<option value="44">Chile</option> 
<option value="45">China</option> 
<option value="46">Christmas Island</option> 
<option value="47">Cocos (Keeling) Islands</option> 
<option value="48">Colombia</option> 
<option value="49">Comoros</option> 
<option value="50">Congo</option> 
<option value="51">Congo, The Democratic Republic Of The</option> 
<option value="52">Cook Islands</option> 
<option value="53">Costa Rica</option> 
<option value="54">CÔte D'ivoire</option> 
<option value="55">Croatia</option> 
<option value="56">Cuba</option> 
<option value="57">Cyprus</option> 
<option value="58">Czech Republic</option> 
<option value="59">Denmark</option> 
<option value="60">Djibouti</option> 
<option value="61">Dominica</option> 
<option value="62">Dominican Republic</option> 
<option value="63">Ecuador</option> 
<option value="64">Egypt</option> 
<option value="65">El Salvador</option> 
<option value="66">Equatorial Guinea</option> 
<option value="67">Eritrea</option> 
<option value="68">Estonia</option> 
<option value="69">Ethiopia</option> 
<option value="70">Falkland Islands (Malvinas)</option> 
<option value="71">Faroe Islands</option> 
<option value="72">Fiji</option> 
<option value="73">Finland</option> 
<option value="74">France</option> 
<option value="75">French Guiana</option> 
<option value="76">French Polynesia</option> 
<option value="77">French Southern Territories</option> 
<option value="78">Gabon</option> 
<option value="79">Gambia</option> 
<option value="80">Georgia</option> 
<option value="81">Germany</option> 
<option value="82">Ghana</option> 
<option value="83">Gibraltar</option> 
<option value="84">Greece</option> 
<option value="85">Greenland</option> 
<option value="86">Grenada</option> 
<option value="87">Guadeloupe</option> 
<option value="88">Guam</option> 
<option value="89">Guatemala</option> 
<option value="90">Guernsey</option> 
<option value="91">Guinea</option> 
<option value="92">Guinea Bissau</option> 
<option value="93">Guyana</option> 
<option value="94">Haiti</option> 
<option value="95">Heard Island And Mcdonald Islands</option> 
<option value="96">Honduras</option> 
<option value="97">Hong Kong</option> 
<option value="98">Hungary</option> 
<option value="99">Iceland</option> 
<option value="100">India</option> 
<option value="101">Indonesia</option> 
<option value="102">Iran, Islamic Republic Of</option> 
<option value="103">Iraq</option> 
<option value="104">Ireland</option> 
<option value="105">Isle Of Man</option> 
<option value="106">Israel</option> 
<option value="107">Italy</option> 
<option value="108">Jamaica</option> 
<option value="109">Japan</option> 
<option value="110">Jersey</option> 
<option value="111">Jordan</option> 
<option value="112">Kazakhstan</option> 
<option value="113">Kenya</option> 
<option value="114">Kiribati</option> 
<option value="115">Korea, Democratic People's Republic Of</option> 
<option value="116">Korea, Republic Of</option> 
<option value="117">Kuwait</option> 
<option value="118">Kyrgyzstan</option> 
<option value="119">Lao People's Democratic Republic</option> 
<option value="120">Latvia</option> 
<option value="121">Lebanon</option> 
<option value="122">Lesotho</option> 
<option value="123">Liberia</option> 
<option value="124">Libyan Arab Jamahiriya</option> 
<option value="125">Liechtenstein</option> 
<option value="126">Lithuania</option> 
<option value="127">Luxembourg</option> 
<option value="128">Macao</option> 
<option value="129">Macedonia, The Former Yugoslav Republic Of</option> 
<option value="130">Madagascar</option> 
<option value="131">Malawi</option> 
<option value="132">Malaysia</option> 
<option value="133">Maldives</option> 
<option value="134">Mali</option> 
<option value="135">Malta</option> 
<option value="136">Marshall Islands</option> 
<option value="137">Martinique</option> 
<option value="138">Mauritania</option> 
<option value="139">Mauritius</option> 
<option value="140">Mayotte</option> 
<option value="141">Mexico</option> 
<option value="142">Micronesia, Federated States Of</option> 
<option value="143">Moldova</option> 
<option value="144">Monaco</option> 
<option value="145">Mongolia</option> 
<option value="146">Montenegro</option> 
<option value="147">Montserrat</option> 
<option value="148">Morocco</option> 
<option value="149">Mozambique</option> 
<option value="150">Myanmar</option> 
<option value="151">Namibia</option> 
<option value="152">Nauru</option> 
<option value="153">Nepal</option> 
<option value="154">Netherlands</option> 
<option value="155">Netherlands Antilles</option> 
<option value="156">New Caledonia</option> 
<option value="157">New Zealand</option> 
<option value="158">Nicaragua</option> 
<option value="159">Niger</option> 
<option value="160">Nigeria</option> 
<option value="161">Niue</option> 
<option value="162">Norfolk Island</option> 
<option value="163">Northern Mariana Islands</option> 
<option value="164">Norway</option> 
<option value="165">Oman</option> 
<option value="166">Pakistan</option> 
<option value="167">Palau</option> 
<option value="168">Panama</option> 
<option value="169">Papua New Guinea</option> 
<option value="170">Paraguay</option> 
<option value="171">Peru</option> 
<option value="172">Philippines</option> 
<option value="173">Pitcairn</option> 
<option value="174">Poland</option> 
<option value="175">Portugal</option> 
<option value="176">Puerto Rico</option> 
<option value="177">Qatar</option> 
<option value="178">RÉunion</option> 
<option value="179">Romania</option> 
<option value="180">Russia</option> 
<option value="181">Rwanda</option> 
<option value="182">Saint BarthÉlemy</option> 
<option value="183">Saint Helena</option> 
<option value="184">Saint Kitts And Nevis</option> 
<option value="185">Saint Lucia</option> 
<option value="186">Saint Martin</option> 
<option value="187">Saint Pierre And Miquelon</option> 
<option value="188">Saint Vincent And The Grenadines</option> 
<option value="189">Samoa</option> 
<option value="190">San Marino</option> 
<option value="191">Sao Tome And Principe</option> 
<option value="192">Saudi Arabia</option> 
<option value="193">Senegal</option> 
<option value="194">Serbia</option> 
<option value="195">Seychelles</option> 
<option value="196">Sierra Leone</option> 
<option value="197">Singapore</option> 
<option value="198">Slovakia</option> 
<option value="199">Slovenia</option> 
<option value="200">Solomon Islands</option> 
<option value="201">Somalia</option> 
<option value="202">South Africa</option> 
<option value="203">South Georgia And The South Sandwich Islands</option> 
<option value="204">Spain</option> 
<option value="205">Sri Lanka</option> 
<option value="206">Sudan</option> 
<option value="207">Suriname</option> 
<option value="208">Svalbard And Jan Mayen</option> 
<option value="209">Swaziland</option> 
<option value="210">Sweden</option> 
<option value="211">Switzerland</option> 
<option value="212">Syrian Arab Republic</option> 
<option value="213">Taiwan</option> 
<option value="214">Tajikistan</option> 
<option value="215">Tanzania, United Republic Of</option> 
<option value="216">Thailand</option> 
<option value="217">Timor Leste</option> 
<option value="218">Togo</option> 
<option value="219">Tokelau</option> 
<option value="220">Tonga</option> 
<option value="221">Trinidad And Tobago</option> 
<option value="222">Tunisia</option> 
<option value="223">Turkey</option> 
<option value="224">Turkmenistan</option> 
<option value="225">Turks And Caicos Islands</option> 
<option value="226">Tuvalu</option> 
<option value="227">Uganda</option> 
<option value="228">Ukraine</option> 
<option value="229">United Arab Emirates</option> 
<option value="230">United Kingdom</option> 
<option value="232">United States Minor Outlying Islands</option> 
<option value="233">Uruguay</option> 
<option value="234">Uzbekistan</option> 
<option value="235">Vanuatu</option> 
<option value="236">Vatican City State</option> 
<option value="237">Venezuela</option> 
<option value="238">Viet Nam</option> 
<option value="239">Virgin Islands, British</option> 
<option value="240">Virgin Islands, U.S.</option> 
<option value="241">Wallis And Futuna</option> 
<option value="242">Western Sahara</option> 
<option value="243">Yemen</option> 
<option value="244">Zambia</option> 
<option value="245">Zimbabwe</option></select></p> 
</div> 

<p><label for="listing_other_location">Enter the city/metro area closest to your headquarters</label><br /> 
  <small>&bull; If your company has multiple locations, just enter the main location.<br />&bull; As you type we'll make recommendations &mdash; please select one if it's close.<br /></small> 
  </p> 
<input autocomplete="off" id="listing_other_location" name="listing[other_location]" size="30" type="text" /> 
<div id="other_location_choices" class="autocomplete"></div> 

<script type="text/javascript"> 
//<![CDATA[
new Autocompleter.Local('listing_other_location', 'other_location_choices', ["Turnhout","Tuscaloosa","Tuticorin","Twickenham","Twisp","Tyler","udine","Uehlingen","Ufa","Ulanude","Ulm","Utah","Utica","Utrecht","Uzhgorod","Vacaville","Vail","Valencia","valparaiso","Vancouver","Vancouver British Columbia Canada","Varberg","Varese","Varna","Vejle","Venezia","Venice","Venlo","Venray","Ventura","Verona","Versailles","Verviers","Victoria","Vienna","Vigo","Vilnius","Vinnitsa","Virginia Beach","Visakhapatnam","Visalia","Vladivostok","volos","Vorarlberg","Waco","Wacointer Park","Walla Walla","Walnut Creek","Wandering","Wanganui","Waregem","Warsaw","Warwick","Washington","Washington DC","Waterloo","Waukesha","Waxhaw","Weddington","Wedle","Wellington","Wenatchee","West London","West Lothian","West Melbourne","West Michigan","West Midlands","West of Ireland","West Palm Beach","West Yorkshire","Westchester","Westport","Westside","Weymouth","Whangarei","Wheaton IL","Whistler","Whistler British Columbia","Whitefish","Whitehorse","Whitehorse Yukon","Wichita","Wien","Wien Paris Szeged Budapest","Wien Paris Szeged Budapest Prague Bucharest","Wiesbaden","Wijnjewoude","Wilderness","Wilkes Barre","Williamsport","Williamstown","Wilmington","Wimington","Winchester","Windsor","Winnipeg","Winnipeg and Southern Manitoba","Winona","Winston Salem","Winston Salem NC","Winter Park","wirral","Wollongong NSW","Wolomin","Wolverhampton","Woodstock","Worcester","Worldwide","Worthing","Wroclaw","Wuerzburg","Wuppertal","Yambol","Yangon","Yaroslavl","Yekaterinburg","Yerevan","Yogyakarta","York","York PA","Yorkshire","Yuma","Yverdon","Zagreb","Zaporizhzhya","Zaragoza","Zilina","Zoetermeer","Zurich","Zurich Bern Bonn Cologne","Zurich Bonn","Zutphen","Zvolen","Zwolle","Zwolle The Netherlands"],
                                            { afterUpdateElement: ListingSignup.show_preview_other_location})
//]]>
</script> 
</div> 

</div> 

<div class="contact"> 
  <h2>Finally, how can clients get in touch?</h2> 
<p> 
<label for="listing_contact_email">Sales contact email</label> - optional<br /> 
<small>This is how clients will contact you (example: sales@mydomain.com)</small> 
</p> 
<input id="listing_contact_email" name="listing[contact_email]" size="30" type="text" /> 

<p> 
<label for="listing_website_url">Website URL</label> - optional<br /> 
<small>(example: mydomain.com)</small> 
</p> 
<input id="listing_website_url" name="listing[website_url]" size="30" type="text" /> 
</div> 


  <div id='submit_button'> 
    <p><input alt="Save and continue" class="submit_image" onclick="ListingSignup.show_spinner()" src="/images/btn_saveandcontinue.png" type="image" /></p> 
  </div> 
  <div style="display: none;" id='submit_spinner'> 
    <p><img align="absmiddle" alt="Spinner-small" src="/images/spinner-small.gif" style="margin-right: 5px;" /> <strong>Just a moment while we get you set up...</strong></p> 
  </div> 
</form></div> 

<iframe id="upload_iframe" name="upload_iframe" style="width:0;height:0" src="" frameborder="0"></iframe> 


<div class="clear"></div> 

        

