<div class="card-perma"> 
  <div class="cardcap-perma">
    <img alt="Card-top-perma" src="/images/card-top-perma.png" />
  </div> 
  <div class="cardcontent-perma"> 
    <h2>Получение приглашения для создания каталога.</h2>
    <div class="clear"></div>
    <div class="faq">
      <p>В связи с большим количеством желающих создать собственный каталог на платформе Клевер открытая регистрация приостановлена.</p>
      <p>Чтобы зарегистрировать каталог пришлите электронное письмо на адрес <a href="mailto:nashdom@spknd.ru?subject=запрос на приглашение в каталог">
        nashdom@spknd.ru
      </a>.</p>
      <p>В письме укажите контактный телефон по которому с Вами свяжутся наши специалисты для уточнения сведений на основании которых Вам будет создана учётная запись и предоставлен доступ к управлению каталогом.</p>
      <div class="clear"></div>
    </div>
  </div> 
  <div class="cardcap-perma">
    <img alt="Card-bottom-perma" src="/images/card-bottom-perma.png" />
  </div> 
</div>