<div id ="page_with_presentations">
	<h2>Презентации <a onClick="history.go(-1); return false;" href="/" class="go_back_button">X</a></h2>
		<table id="main_table_presentations">
			<tr>
				<td id="left_col_presentations">
					<div class="object_left_col_presentation">
						<h4>Shell Helix Ultra Extra 5W-30 </h4>
						<img width="240" height="178" align="left" alt="Shell Helix Ultra Extra 5W-30 " src="http://www-static.shell.com/static/public/imgs/240x178/helix_ultra_extra_5w-30.jpg">
						<p>Полностью синтетическое масло экстра-класса на основе новейшей технологии «Шелл». Отвечает требованиям самых современных бензиновых и дизельных двигателей, в т. ч. с катализаторами дожига отработавших газов и сажевыми фильтрами. Обеспечивает максимальную чистоту и длительный интервал между заменами.</p><p><strong>Спецификации и допуски:</strong> ACEA C2/C3 (A3/B4), MB 229.51/229.31, BMW Longlife-04, Chrysler MS-11106, VW 504.00/507.00, Porsche C 30, отвечает требованиям FIAT 9.55535 S1, PSA B71 2290</p><p><strong>Упаковка:</strong> 1 л, 4 л, 20 л, 209 л</p>
					</div>
					
					<div class="object_left_col_presentation">
						<h4>Shell Helix Ultra 5w-40</h4>

						
						<img width="240" height="178" align="left"alt="Shell Helix Ultra 5w-40" src="http://www-static.shell.com/static/public/imgs/240x178/helix_ultra_5w-40.jpg">
						
						<p>Полностью синтетическое масло экстра-класса с максимальным уровнем моющих характеристик для современных двигателей легковых автомобилей. Обеспечивает высшую защиту при активной езде. Единственное масло, рекомендованное Ferrari.</p><p><strong>Спецификации и допуски</strong>: API SM/CF, ACEA A3/B4, BMW LL-01, одобрено Ferrari, MB 229.5, Porsche A40, VW 502.00/505.00/503.01, Renault RN 0700; RN 0710, одобрено АвтоВАЗ, отвечает требованиям FIAT 9.55535 Z2</p><p><strong>Упаковка</strong>: 1 л, 4 л, 20 л, 209 л</p>
						
					</div>
					<div class="object_left_col_presentation">
						<h4>Shell Helix Ultra 0W-40</h4>

						
						
						<img width="240" height="178"  align="left" alt="Shell Helix Ultra 0W-40 " src="http://www-static.shell.com/static/rus/imgs/240x178/240x178_helix_ultra_0w-40.jpg">

						<p>Полностью синтетическое масло экстра-класса, обеспечивающее максимальный уровень чистоты и ровную мягкую работу самых современных двигателей легковых автомобилей. Гарантирует легкий пуск двигателя при экстремально низких температурах и его надежную защиту в любых условиях.</p><p><strong>Спецификации и допуски</strong>: API SM/CF, ACEA A3/B3/B4, BMW Longlife-01, MB 229.5, VW 502.00/505.00, Porsche A40, Renault RN 0700&amp;0710</p><p><strong>Упаковка</strong>: 1 л, 4 л, 55 л, 209 л</p>

						
					</div>
					
					
					
					
					
				</td>
				<td id="right_col_presentations">
				<h3>Список презентаций</h3>
					<div class="element_right_col_presentation">
						<a href="#">
							<img src="http://tihinfo.ru:3000/assets/pictures/1115/large/d5a6f823dfac830d339bbbaa1dba5b7c.jpg?1326192322">
							<p>Крепёжный инструмент, для всех случаев.</p>
						</a>
					</div>
					<div class="element_right_col_presentation">
						<a href="#">
							<img src="http://tihinfo.ru:3000/assets/pictures/1112/large/100_0904.jpg?1326191292">
							<p>Шины на легковые и грузовые автомобили.</p>
						</a>
					</div>
					<div class="element_right_col_presentation">
						<a href="#">
							<img src="http://tihinfo.ru:3000/assets/pictures/1108/large/5ce94a2a8ea27e3cfdb8e46b39fbc652.jpg?1326189220">
							<p>Масла для бензиновых и дизельных двигателей.</p>
						</a>
					</div>
					
					<div class="element_right_col_presentation">
						<a href="#">
							<img src="http://tihinfo.ru:3000/assets/pictures/1109/large/bbfdf725236adb1a3196f915a9cf0b58.jpg?1326189246">
							<p>Легкосплавные диски для отечественных и зарубежных авто.</p>
						</a>
					</div>
					
					
				</td>
			</tr>
		
		
		</table>
	
</div>