/* GENERAL ----------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
	background-color: #F6F6F6;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333;
  line-height: 1.4em;
}

body.print {
  background-color: #ffffff;
}

a {
  color: #3399cc;
	margin: 0;
	padding: 0;
}

a:hover, div.nav a:hover, div.nav a.signup:hover {
  color: #0099ff;
}

a:focus { 
  outline: none; 
}

a img {
  border: 0;
	padding: 0;
}

h1 {
  font-family: Georgia, Times, serif;
  font-weight: normal;
  margin: 0 0 15px 0;
  line-height: 1.3em;
  font-size: 28px;
  color: #555;
}

div.clear {
  clear: both;
}

span.highlight {
  background-color: #ffcc00;
  padding: 3px;
}

/* STRUCTURE --------------------------------------------------*/

div.container {
  width: 100%;
  margin: 0 auto;
	padding: 0;
	text-align: center;
}

body.home div.header {
  background-image: url(/images/bkgd-abstractcards.png);
  background-repeat: no-repeat;
}

body.listings div.header {
  background-image: url(/images/bkgd-abstractcards-small.png);
  background-repeat: no-repeat;
}

div.header {
  background-image: url(/images/bkgd-abstractcards-interior.png);
  background-repeat: no-repeat;
}

div.nav {
  padding: 20px 10px 0 0;
  color: #ccc;
  text-align: right;
  font-size: 13px;
  float: right;
}

span.favorites_count {
  color: #999;
}

div.needle {
  float: left;
  width: 90px;
  overflow: hidden;
  margin-right: 5px;
  margin-left: 5px;
}

body.listings div.needle {
  width: 48px;
}

body.home div.masthead {
  padding: 38px 0 0 0;
  text-align: left;
  width: 890px;
}

div.masthead {
  padding: 39px 0 5px 0;
  text-align: left;
  width: 890px;
}

div.container div.content {
  width: 980px;
  overflow: hidden;
  margin: 10px auto;
  padding: auto;
}

div.scroller_content {
  width: 9800px;
  overflow: hidden;
  margin: 10px auto;
  padding: auto;
}

div.spinner {
  text-align: right;
  padding: 30px 0 30px 15px;
  clear: both;
}

div.footer {
  text-align: left;
  padding: 150px 0 50px 15px;
  color: #999;
  clear: both;
}

div.footer a {
  color: #999;
}

div.footer img {
  margin-right: 15px;
}

body.listings div.header h1 {
  margin: 12px 0 15px 0;
  font-size: 31px;
}

/* NAV ---------------------------------------------------------*/

div.nav a {
  color: #999;
}

div.nav a.signup {
  color: #333;
  font-weight: bold;
}

div.nav a.selected {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

div.signup {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  position: relative;
}

div.signup a {
  display: block;
  width: 135px;
  height: 38px;
  background: url('/images/btn_getlisted.png') 0px 0px no-repeat;
}

div.signup:hover a {
  background: url('/images/btn_getlisted.png') 0px -38px no-repeat;
}

div.signup_description {
  position: absolute;
  top: 35px;
  z-index: 50;
  margin: 0;
  overflow: hidden;
}

div.signup_description div.signup_text {
  font-size: 12px;
  text-align: left;
  color: #fff;
}

div.signup_description div.signup_text {
  padding: 0
  width: 110px;
}

div.signup_description div.signup_text a {
  background: url('/images/bkgd-signupdescription.png') no-repeat;
  color: #fff;
  line-height: 1.3em;
  padding: 5px 10px 28px 15px;
  width: 110px;
  text-decoration: none;
}

div.last_menu {
  border-top: 1px solid #dbdbdb;
}

div.success {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  position: relative;
}

div.success a {
  display: block;
  width: 135px;
  height: 50px;
  background: url('/images/btn_success.png') 0px 0px no-repeat;
}

div.success:hover a {
  background: url('/images/btn_success.png') 0px -50px no-repeat;
}

body.listings a.homepage img {
  margin-top: -20px;
}

/* FILTER ------------------------------------------------------*/

div.filterbar {
  border-top: 3px solid #e8e8e8;
  padding: 15px 0 10px 0;
  overflow: visible;
}

div.filter {
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 10px;
}

div.search a {
  font-size: 26px;
  font-weight: normal;
  color: #3399cc;
  text-decoration: none;
  font-family: Georgia, Times, serif;
  border-bottom: 3px solid #3399cc;
}

div.search a:hover {
  color: #111;
  border-bottom: 3px solid #0099ff;
}

div.no_results {
  text-align: center;
  padding: 15px;
  margin: 20px 15px;
  border: 5px solid #ccc;
  background-color: #efefef;
  font-size: 14px;
  font-weight: bold;
}

div#related_locations {
  margin-top: 20px;
  font-size: 12px;
}

div#related_locations ul {
  margin: 0;
  margin-left: -30px;
}

div#related_locations li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding-right: 10px;
}

/* PERMA -------------------------------------------------------*/

body.perma div.filter {
  width: 960px;
  text-align: left;
  margin:auto;
}

body.perma div.filterbar {
  padding: 20px 0 0 0;
}

body.perma div.cardtools {
  border-bottom: 1px dotted #ccc;
}

div.card-perma {
  width: 960px;
  margin: 10px;
  overflow: hidden;
  float: left;
  background-color: #fff;
}

div.cardcap-perma {
  width: 960px;
  height: 10px;
  margin: 0;
  background-color: #f5f6f7;
}

div.cardcontent-perma {
  background-image: url('/images/card-bkgd-perma.png');
  padding: 5px 20px 0 20px;
  text-align: left;
  overflow: hidden;
}

body.print div.cardcontent-perma {
  background-image: none;
  padding: 5px 20px 0 20px;
  text-align: left;
  overflow: hidden;
}

div.cardcontent-perma h2 {
  font-family: Helvetica, sans-serif;
  font-size: 28px;
  letter-spacing: -1px;
  color: #222;
  margin: 10px 0;
  font-weight: bold;
}

body.perma div.cardcompany {
  margin-top: 15px;
  height: auto;
}

body.perma div.cardtools {
  clear:both;
  padding-bottom: 20px;
  padding-top: 0;
  border-top: 0;
}

body.perma div.description {
  margin: 10px 0 15px 0;
  width: 660px;
  clear: both;
}

body.perma div.description p {
  margin: 0 0 15px 0;
}

body.perma div.gallery {
  background-color: #e8e8e8;
  padding: 10px 0 5px 0;
  text-align: center;
  margin: 30px 0;
  clear: both;
}

body.perma div.gallery p {
  text-align: left;
  margin: 15px;
}

body.perma div.action {
	padding: 20px;
	margin-bottom: 10px;
	background-color: #222;
	text-align: center;
	color: #999;
	font-size: 12px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

body.perma div.action h2 {
	color: #f7eaac;
	font-size: 16px;
	letter-spacing: normal;
	margin: 0 0 10px 0;
	padding: 0;
}

body.perma div.action h3 {
	color: #999;
	font-size: 18px;
	letter-spacing: normal;
	margin: 0 0 12px 0;
	padding: 0;
}

/* CREATE ---------------------------------------------------*/

body.create div.filterbar {
  padding: 20px 0 0 0;
}

.liveValidationErrors {
  color: red;
}

div.steps {
  width: 960px;
  text-align: center;
  font-size: 18px;
  font-family: Georgia, serif;
  color: #777;
  margin:auto;
}

div.steps img {
  margin-bottom: 5px;
  margin-left: 50px;
}

div.steps img.first {
  margin-left: 0;
}

div.steps a {
  color: #777;
}

body.create div.content {
  margin-top: 20px;
  text-align: left;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

body.create h1, body.publish h1 {
  margin: 15px 0;
}

body.create h3, body.publish h3, body.account h3 {
  margin: 20px 0 10px 0;
}

body.create div.example_card {
  width: 350px;
  text-align: center;
  float: left;
  background-image: url(/images/bkgd-create.png);
  background-repeat: no-repeat;
  position: fixed;
}

body.create div.card {
  margin-left: 65px;
}

body.create div.create_form {
  text-align: left;
  margin-top: 0;
  padding-top: 0;
  width: 560px;
  float: right;
}

body.create div.create_form {
  padding: 0 30px 20px 30px;
}

body.create div.create_form p {
  margin: 20px 0 3px 0;
}

body.create div.create_form label {
  font-weight: bold;
}

input {
  height: 21px;
  color: #333;
  padding: 3px;
  font-size: 16px;
  font-weight: bold;
}

input[type=submit], input[type=file] {
  font-size: 11px;
  font-weight: normal;  
  padding: 0;
  height: auto;
}

input#listing_company_name  {
  width:300px;
}

input#ZIP, input#card_zip_code {
  width:75px;
}

input.submit_image {
  height: 38px;
}

textarea {
  color: #333;
  padding: 5px;
  font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,Helvetica,Arial,sans-serif;
  font-size:12px;
  line-height:1.4em;
}

textarea#listing_overview, textarea#description {
  width:500px;
  height: 200px;
}

input#listing_website_url, input#email, input#firstname, input#lastname, 
input#acctemail, input#username, input#password, input#passwordverify, 
input#subject, input#email_address, input#screen, input#user_session_email {
  width:300px;
}

input#user_login, input#user_password, input#user_password_confirmation, 
input#user_email, input#user_session_login, input#user_session_password {
  width:300px;
}

input#login {
  width:300px;
}

body.create div.image_upload {
  background-color: #f6def8;
  border: 1px solid #ccc;
  padding: 30px;
  padding-right: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

body.create div.image_upload h2 {
  margin-top: 0;
  font-size: 16px;
}

body.create div.image_upload p {
  margin: 15px 0;
}

body.create textarea {
  width: 455px;
  height: 40px;
}

body.create div.about_company, body.create div.contact, body.update div.about_company, body.update div.contact {
  background-color: #f6def8;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 30px;
  padding-right: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

body.create div.about_company h2, body.create div.contact h2, body.update div.about_company h2, body.update div.contact h2 {
  margin-top: 0;
  font-size: 16px;
}

div.screenupload {
  width: 465px;
  margin: 15px 0;
  padding: 10px 0;
}

div.delete {
  padding: 5px 0;
}

div.delete a {
  color: red;
}

span#live_budget {
  color: #333;
}

div.budget_choices {
  padding: 0;
  clear: both;
  overflow: hidden;
}

div.budget_choices label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}

div.budget_choices input {
  vertical-align: middle;
}

div.budget_choices span {
  vertical-align: middle;
  font-weight: normal;
}

div.us_select {
  margin: 5px 0 0 0;
  overflow: hidden;
}

div.us {
  padding: 0;
  clear: both;
  overflow: hidden;
}

div.us label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}

div.us input {
  vertical-align: middle;
}

div.us span {
  vertical-align: middle;
  font-weight: normal;
}

div.autocomplete {
  background: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

div.autocomplete ul {
  list-style: none;
  margin-left: -40px;
}

div.autocomplete li {
  margin: 0;
  padding: 5px;
  padding-left: 10px;
}

div.autocomplete li.selected {
  margin: 0;
  padding: 5px;
  padding-left: 10px;
  background-color: #efefef;
}

div.autocomplete li a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: #222;
}

div.autocomplete li a:hover {
  color: #0099ff;
}

/* UPGRADE & DOWNGRADE --------------------------------------------------*/

body.upgrade div.filterbar, body.downgrade div.filterbar {
  padding: 20px 0 0 0;
}


body.upgrade div.card, body.upgrade div.card-upgrade {
  margin: 0;
}

body.upgrade div.content {
  padding: 20px 0;
  margin-top: 0;
  text-align: left;
}

body.upgrade h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 16px;
}

body.upgrade div.bulletsleft ul, body.upgrade div.bulletsright ul, body.upgrade div.upgrade ul, body.downgrade div.downgrade ul {
  margin: 0 0 10px 0;
  list-style-image: url(/images/icon_check.png);
}

body.upgrade div.bulletsleft ul li, body.upgrade div.bulletsright ul li, body.upgrade div.upgrade ul li, body.downgrade div.downgrade ul li {
  padding: 0 0 5px 0;
}

body.upgrade div.free {
  width: 317px;
  padding: 0 20px;
  float: left;
  text-align: left;
  overflow: hidden;
  background-image: url(/images/bkgd-free.png);
  background-repeat: no-repeat;
  margin-right: 20px;
}

body.upgrade div.freebutton {
  margin: 20px 0 0 0;
  width: 207px;
  text-align: center;
}

body.upgrade div.pro {
  width: 580px;
  margin-bottom: 15px;
  padding: 0 10px;
  float: left;
  text-align: center;
  overflow: hidden;
  background-image: url(/images/bkgd-pro.png);
  background-repeat: no-repeat;
}

body.upgrade div.bulletsleft {
  float: left;
  width: 200px;
  overflow: hidden;
  text-align: left;
  margin-left: 65px;
}

body.upgrade div.bulletsright {
  float: left;
  width: 240px;
  overflow: hidden;
  text-align: left;
}

body.upgrade div.freecard {
  margin-right: 20px;
  overflow: hidden;
  width: 357px;
  float: left;
}

body.upgrade div.procard {
  float: left;
  overflow: hidden;
}

/* FAVORITES ------------------------------------------------*/

body.favorites div.header {
  background-image: url(/images/bkgd-abstractcards-interior.png);
  background-repeat: no-repeat;
}

body.favorites div.masthead {
  padding: 39px 0 5px 0;
  text-align: left;
  width: 890px;
}

body.favorites div.filter {
  width: 960px;
  text-align: left;
  margin:auto;
}

body.favorites div.filterbar {
  padding: 20px 0 0 0;
}

body.favorites h1 {
  text-align: left;
}

body.favorites div.favorites_link {
  background-color: #ffffcc;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 20px;
  margin-top: 20px;
  overflow: hidden;
  text-align: left;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

body.favorites div.cardcontent-perma {
  padding: 20px;
}

body.favorites div.cardcontent-perma h2 {
  margin: 20px;
}

body.favorites h3 {
  margin: 5px 0 5px 0;
  font-size: 16px;
}

body.favorites h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  color: #999;
  line-height: 1.3em;
  margin-top: 0;
  margin-left: 20px;
}

body.favorites div.about {
  overflow: hidden;
  width: 400px;
  line-height: 1.5em;
  float: left;
  margin: 0 20px 20px 20px;
}

body.favorites div.cardcontent-perma p {
  font-size: 14px;
  color: #666;
}

body.favorites div.cardcontent-perma img {
  margin-right: 10px;
  margin-bottom: 15px;
}

body.favorites div.cardcontent-perma p a {
  color: #0099ff;
  border-bottom: 2px solid #0099ff;
  font-weight: bold;
  text-decoration: none;
}

body.favorites div.cardcontent-perma p a:hover {
 color: #222;
 border-bottom: 2px solid #0099ff;
}

/* SEARCH BAR */

ul.search_bar {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

ul.search_bar li {
  font-size: 15px;
  color: #222;
  line-height: 13px;
  position: relative;
  z-index: 500;
  display: inline;
}

ul.search_bar li.menu {
  margin-right: 3px;
}

ul.search_bar li img {
  vertical-align: top;
  margin-left: 4px;
}

ul.search_bar li div.search_menu {
  left: -1px;
}

ul.search_bar li div.search_menu {
  position: absolute;
  margin-top: 8px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-top: 1px solid #ccc;
  width: 160px;
  z-index: 5000;
  background-color: white;
  text-align: left;
}

ul.search_bar li div.search_menu a {
  font-weight: normal;
  display: block;
  margin: 10px;
  padding: 0;
  font-size: 14px;
  text-decoration: none;
  color: #3399cc;
  border: none;
}

ul.search_bar li div.search_menu a:hover {
  text-decoration: underline;
}
