/* GENERAL ----------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
	background-color: #F6F6F6;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333;
  line-height: 1.4em;
}

a {
  color: #3399cc;
	margin: 0;
	padding: 0;
}

a:hover, div.nav a:hover, div.nav a.signup:hover {
  color: #0099ff;
}

a:focus { 
  outline: none; 
}

a img {
  border: 0;
	padding: 0;
}

h1 {
  font-family: Georgia, Times, serif;
  font-weight: normal;
  margin: 0 0 15px 0;
  line-height: 1.3em;
  font-size: 28px;
  color: #555;
}

div.clear {
  clear: both;
}

/* STRUCTURE --------------------------------------------------*/

div.container {
  width: 100%;
  margin: 0 auto;
	padding: 0;
	text-align: center;
}

body.home div.header {
  background-image: url(/images/bkgd-abstractcards.png);
  background-repeat: no-repeat;
}

body.listings div.header {
  background-image: url(/images/bkgd-abstractcards-small.png);
  background-repeat: no-repeat;
}

div.header {
  background-image: url(/images/bkgd-abstractcards-interior.png);
  background-repeat: no-repeat;
}

div.nav {
  padding: 20px 10px 0 0;
  color: #ccc;
  text-align: right;
  font-size: 13px;
  float: right;
}

span.favorites_count {
  color: #999;
}

div.needle {
  float: left;
  width: 90px;
  overflow: hidden;
  margin-right: 5px;
  margin-left: 5px;
}

body.listings div.needle {
  width: 48px;
}

body.home div.masthead {
  padding: 38px 0 0 0;
  text-align: left;
  width: 890px;
}

div.masthead {
  padding: 39px 0 5px 0;
  text-align: left;
  width: 890px;
}

div.container div.content {
  width: 980px;
  overflow: hidden;
  margin: 10px auto;
  padding: auto;
}

div.scroller_content {
  width: 9800px;
  overflow: hidden;
  margin: 10px auto;
  padding: auto;
}

div.footer {
  text-align: left;
  padding: 150px 0 50px 15px;
  color: #999;
  clear: both;
}

div.footer a {
  color: #999;
}

div.footer img {
  margin-right: 15px;
}

/* NAV ---------------------------------------------------------*/

div.nav a {
  color: #999;
}

div.nav a.signup {
  color: #333;
  font-weight: bold;
}

div.nav a.selected {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

div.signup {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  position: relative;
}

div.signup a {
  display: block;
  width: 135px;
  height: 38px;
  background: url('/images/btn_getlisted.png') 0px 0px no-repeat;
}

div.signup:hover a {
  background: url('/images/btn_getlisted.png') 0px -38px no-repeat;
}

div.signup_description {
  position: absolute;
  top: 35px;
  z-index: 50;
  margin: 0;
  overflow: hidden;
}

div.signup_description div.signup_text {
  font-size: 12px;
  text-align: left;
  color: #fff;
}

div.signup_description div.signup_text {
  padding: 0
  width: 110px;
}

div.signup_description div.signup_text a {
  background: url('/images/bkgd-signupdescription.png') no-repeat;
  color: #fff;
  line-height: 1.3em;
  padding: 5px 10px 28px 15px;
  width: 110px;
  text-decoration: none;
}

div.last_menu {
  border-top: 1px solid #dbdbdb;
}

body.listings a.homepage img {
  margin-top: -20px;
}

/* FILTER ------------------------------------------------------*/

div.filterbar {
  border-top: 3px solid #e8e8e8;
  padding: 15px 0 10px 0;
  overflow: visible;
}

div.filter {
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 10px;
}

div.search a {
  font-size: 26px;
  font-weight: normal;
  color: #3399cc;
  text-decoration: none;
  font-family: Georgia, Times, serif;
  border-bottom: 3px solid #3399cc;
}

div.search a:hover {
  color: #111;
  border-bottom: 3px solid #0099ff;
}

/* CARDS -------------------------------------------------------*/

div.card-upgrade {
  width: 470px;
  margin: 10px;
  overflow: hidden;
  float: left;
  background-color: #fff;
}

div.cardcontent-upgrade {
  background-image: url('/images/card-bkgd-large.png');
  padding: 5px 20px;
  text-align: left;
}

div.cardcontent-upgrade h2 {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #222;
  margin: 5px 0;
  font-weight: bold;
  white-space: nowrap;
}

div.cardcontent-upgrade h2 a, div.cardcontent h2 a {
  color: #222;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #e8e8e8;
}

div.cardcontent-upgrade h2 a:hover, div.cardcontent h2 a:hover {
  border-bottom: 2px solid #0099ff;
}

div.cardcontent-upgrade p, div.cardcontent p, div.cardcontent-perma p {
  margin: 0 0 10px 0;
}

div.cardcontent-upgrade span, div.cardcontent span, div.cardcontent-perma span {
  color: #999;
}

div.cardcompany {
  overflow: hidden;
  height: 63px;
}

div.card div.cardcompany p {
  font-size: 10px;
  line-height: normal;
}

div.scroller {
  width: 430px;
  overflow: hidden;
/*  border:1px solid #cccccc;*/
}

div.scroller div.section {
  width:450px;
  overflow:hidden;
  float:left;
}

div.pro-caption {
  background-color: #fff;
  padding: 10px 0 0 0;
  margin-right: 20px;
  color: #666;
  height: 65px;
  overflow: hidden;
}

/* Кардтулс --------------------------*/

div.cardtools {
  text-align: left;
  margin: 10px 0;
  padding-top: 10px;
}

div.card-upgrade div.cardtools {
  margin: 5px 0 10px 0;
}

div.cardtools a {
  color: #888;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #e8e8e8;
}

div.cardtools a:hover {
 color: #222;
 border-bottom: 2px solid #0099ff;
}

div.cardtools img {
  margin-right: 5px;
}

div.cardtools a.favorites {
  background: url('/images/icon_clover.png') 0px 0px no-repeat;
  padding-left: 20px;
  border-bottom: none;
  padding-top: 1px;
}

div.cardtools a.favorites:hover {
  background: url('/images/icon_clover.png') 0px -16px no-repeat;
}

/* Навигация слайдшоу --------------------------*/

div.slideshownav {
  text-align: center;
  padding-top: 8px;
  overflow: hidden;
  border-top: 1px solid #ccc;
  margin-top: 5px;
  height: 22px;
}

div.slideshownav a.next {
  background: url('/images/icon_rightarrow.gif') 0px 0px no-repeat;
  width: 22px;
  height: 22px;
  float: right;
}

div.slideshownav a.next:hover {
  background: url('/images/icon_rightarrow.gif') 0px -22px no-repeat;
}

div.slideshownav a.previous {
  background: url('/images/icon_leftarrow.gif') 0px 0px no-repeat;
  width: 22px;
  height: 22px;
  float: left;
}

div.slideshownav a.previous:hover {
  background: url('/images/icon_leftarrow.gif') 0px -22px no-repeat;
}

div.slides {
  text-align: center;
  float: left;
  margin: auto;
  margin-top: -6px;
}

div.slides ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: center;
}

div.slides li {
  display: inline;
  margin: 0;
  padding: 0;
}

div.slides li a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: medium;
  -moz-background-clip: border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:transparent url(/images/icon_slides.gif) no-repeat scroll center top;
  display:block;
  float:left;
  height:6px;
  margin:0 2px;
  overflow:hidden;
  padding:2px;
  text-indent:-9999px;
  width:10px;
}

div.slides li a.active {
  background-position:center -10px;
}

div.pro-image {
  width: 430px;
  height: 300px;
  overflow: hidden;
}

/* PERMA -------------------------------------------------------*/

body.perma div.filter {
  width: 960px;
  text-align: left;
  margin:auto;
}

body.perma div.filterbar {
  padding: 20px 0 0 0;
}

body.perma div.cardtools {
  border-bottom: 1px dotted #ccc;
}

div.card-perma {
  width: 960px;
  margin: 10px;
  overflow: hidden;
  float: left;
  background-color: #fff;
}

div.cardcap-perma {
  width: 960px;
  height: 10px;
  margin: 0;
  background-color: #f5f6f7;
}

div.cardcontent-perma {
  background-image: url('/images/card-bkgd-perma.png');
  padding: 5px 20px 0 20px;
  text-align: left;
  overflow: hidden;
}

/* CREATE ---------------------------------------------------*/

input {
  height: 30px;
  color: #333;
  padding: 3px;
  font-size: 16px;
  font-weight: bold;
}

input[type=submit], input[type=file] {
  font-size: 11px;
  font-weight: normal;  
  padding: 0;
  height: auto;
}

input#user_session_email {
  width:300px;
}

input#user_session_password {
  width:300px;
}

/* ABOUT ----------------------------------------------------*/

body.about div.filter, body.upgrade div.filter {
  width: 960px;
  text-align: left;
  margin:auto;
}

body.about div.filterbar {
  padding: 20px 0 0 0;
}

body.about div.cardcontent-perma {
  padding: 20px;
}

body.about h2 {
  margin: 20px;
}

body.about h3 {
  margin: 5px 0 5px 0;
  font-size: 16px;
}

body.about h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  color: #999;
  line-height: 1.3em;
  margin-top: 0;
  margin-left: 20px;
}

body.about div.about {
  overflow: hidden;
  width: 400px;
  line-height: 1.5em;
  float: left;
  margin: 0 20px 20px 20px;
}

body.about div.cardcontent-perma p {
  font-size: 14px;
  color: #666;
}

body.about div.cardcontent-perma img {
  margin-right: 10px;
  margin-bottom: 15px;
}

body.about div.cardcontent-perma p a {
  color: #0099ff;
  border-bottom: 2px solid #0099ff;
  font-weight: bold;
  text-decoration: none;
}

body.about div.cardcontent-perma div.faq p a {
  color: #0099ff;
  border: none;
  font-weight: normal;
  text-decoration: underline;
}

body.about div.cardcontent-perma p a:hover {
 color: #222;
 border-bottom: 2px solid #0099ff;
}

body.about div.faq {
  border-top: 1px solid #ccc;
  margin-top: 30px;
}

body.about div.faq h2 {
  margin-bottom: 30px;
}

body.about div.faq h3 {
  margin-left: 20px;
}

body.about div.faq p {
  margin-left: 20px;
  margin-bottom: 20px;
	width: 65%;
	line-height: 1.3em;
}

body.about div.faq div.background {
	float: right;
	width: 220px;
	padding: 10px;
	border-left: 1px solid #ccc;
	margin-top: 20px;
}

body.about div.faq div.background h3 {
	font-size: 14px;
}

body.about div.faq div.background p {
	font-size: 12px;
	width: auto;
}

body.about div.faq div.background a {
	border-bottom: none;
}

body.about div.cardcontent-perma div.tweet {
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 200px;
}

body.about div.cardcontent-perma div.tweet div.tweet-content {
  padding: 15px;
  padding-bottom: 5px;
  background-color: #b3fcce;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

body.about div.cardcontent-perma div.tweet div.tweet-content p {
  color: #333;
}

body.about div.cardcontent-perma div.tweet div.bubble {
  text-align: center;
  padding: 0;
  margin: 0;
  height: 16px;
}

/* FAVORITES ------------------------------------------------*/

body.favorites div.header {
  background-image: url(/images/bkgd-abstractcards-interior.png);
  background-repeat: no-repeat;
}

body.favorites div.masthead {
  padding: 39px 0 5px 0;
  text-align: left;
  width: 890px;
}

body.favorites div.filter {
  width: 960px;
  text-align: left;
  margin:auto;
}

body.favorites div.filterbar {
  padding: 20px 0 0 0;
}

body.favorites h1 {
  text-align: left;
}

body.favorites div.favorites_link {
  background-color: #ffffcc;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 20px;
  margin-top: 20px;
  overflow: hidden;
  text-align: left;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

body.favorites div.cardcontent-perma {
  padding: 20px;
}

body.favorites div.cardcontent-perma h2 {
  margin: 20px;
}

body.favorites h3 {
  margin: 5px 0 5px 0;
  font-size: 16px;
}

body.favorites h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  color: #999;
  line-height: 1.3em;
  margin-top: 0;
  margin-left: 20px;
}

body.favorites div.about {
  overflow: hidden;
  width: 400px;
  line-height: 1.5em;
  float: left;
  margin: 0 20px 20px 20px;
}

body.favorites div.cardcontent-perma p {
  font-size: 14px;
  color: #666;
}

body.favorites div.cardcontent-perma img {
  margin-right: 10px;
  margin-bottom: 15px;
}

body.favorites div.cardcontent-perma p a {
  color: #0099ff;
  border-bottom: 2px solid #0099ff;
  font-weight: bold;
  text-decoration: none;
}

body.favorites div.cardcontent-perma p a:hover {
 color: #222;
 border-bottom: 2px solid #0099ff;
}

/* LOGIN ----------------------------------------------------*/

body.login div.card-upgrade {
  margin-left: 275px;
}

body.login h2 {
  color:#222222;
  font-family:Helvetica,sans-serif;
  font-size:21px;
  font-weight:bold;
  margin-top: 20px;
}

body.login div.login p {
  margin: 20px 0 3px 0;
}

body.login div.login label {
  font-weight: bold;
}

body.login div.create {
  padding: 10px 0;
  text-align: right;
  font-size: 11px;
  color: #666;
  background-color: #f5f6f7;
}

body.login div.remember {
  padding: 15px 0 30px 0;
}

body.login div.remember label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}

body.login div.remember input {
  vertical-align: middle;
}

body.login div.remember span {
  color: #222;
  vertical-align: middle;
  font-weight: normal;
}

/* SEARCH BAR -----------------------------------------------*/

ul.search_bar {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

ul.search_bar li {
  font-size: 15px;
  color: #222;
  line-height: 13px;
  position: relative;
  z-index: 500;
  display: inline;
}

ul.search_bar li.menu {
  margin-right: 3px;
}

ul.search_bar li img {
  vertical-align: top;
  margin-left: 4px;
}

ul.search_bar li div.search_menu {
  left: -1px;
}

ul.search_bar li div.search_menu {
  position: absolute;
  margin-top: 8px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-top: 1px solid #ccc;
  width: 160px;
  z-index: 5000;
  background-color: white;
  text-align: left;
}

ul.search_bar li div.search_menu a {
  font-weight: normal;
  display: block;
  margin: 10px;
  padding: 0;
  font-size: 14px;
  text-decoration: none;
  color: #3399cc;
  border: none;
}

ul.search_bar li div.search_menu a:hover {
  text-decoration: underline;
}

/* CITIES ---------------------------------------------------*/

body.cities div.content {
}

body.cities div.content ul {
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
}

body.cities div.content li {
	font-size: 14px;
	line-height: 1.3em;
	padding-bottom: 3px;
}

body.cities div.content table td {
	padding-right: 30px;
}

body.cities div.filter {
  width: 960px;
  text-align: left;
  margin:auto;
}

body.cities div.filterbar {
  padding: 20px 0 0 0;
}

body.cities div.cardcontent-perma {
  padding: 20px;
}

body.cities div.cardcontent-perma h2 {
  margin: 20px;
  font-size: 28px;
}

body.cities div.cardcontent-perma h3 {
  text-transform: uppercase;
  margin-left: 20px;
  border-top: 1px dotted #ccc;
  padding: 10px 0 0 0;
  margin-top: 30px;
  font-size: 14px;
}

body.cities div.cardcontent-perma h3 span {
  font-size: 12px;
  text-transform: none;
  font-weight: normal;
}

body.cities div.cardcontent-perma h4 {
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0 0 0;
}

body.cities div.cardcontent-perma h4 a {
  color: #222;
  border-bottom: 2px solid #3399CC;
  text-decoration: none;
}

body.cities div.cardcontent-perma h4 a:hover {
  color: #3399CC;
}

body.cities div.cardcontent-perma table.topcities li {
  font-size: 21px;
  padding-bottom: 5px;
}


