<div class="needle">
  <a href="/" class="homepage">
    <img alt="Sortfolio" height="145" src="/images/logo_card.png" width="90">
  </a>
</div>
<div class="signup guest_user" id="signup">
  <a href="/signup"></a>
  <div class="signup_description" id="slide_listed" style="height: 70px; ">
    <div class="signup_text">
      <a href="/signup">Создай каталог. Внеси товары. Создай услуги. Добавь фото.</a>
    </div>
  </div>
</div>
<div class="nav">
  <a href="/cities">Поиск</a> |
  <a href="/about">О каталогах</a> |
  <a href="/favorites">Избранное</a> |
  <% if current_user %>
    <a href="/log_out" class="guest_user">Выйти из каталога</a>
  <% else %>
    <a href="/login" class="guest_user">Войти в каталог</a>
  <% end %>
</div>
<div class="masthead">
  <a href="/" class="homepage"><img alt="Sortfolio" height="39" src="/images/logo_magfolio-type.png" width="155">
  </a>
  <h1>Персональные веб каталоги товаров и услуг.</h1>
</div>
<div class="filterbar">
  <div class="filter search">
    <ul class="search_bar">
      <li>Ваш навигатор в &nbsp;</li>
      <li class="menu">
        <a href="#" id="search_location_name">Городе</a>
        <div id="search_location_menu" style="display:none" class="search_menu">
          <a href="/" class="homepage">Тихорецк</a>
          <a href="/atlanta">Архангельская</a>
          <a href="/boston">Кропоткин</a>
          <a href="/chicago">Усть-Лабинск</a>
          <a href="/dallas">Белая Глина</a>
          <a href="/denver">Новопокровская</a>
          <a href="/london">Выселки</a>
          <a href="/los-angeles">Кущевская</a>
          <a href="/minneapolis">Крыловская</a>
          <a href="/nyc">Павловская</a>
          <a href="/portland">Ленинградская</a>
          <a href="/san-francisco">Кореновск</a>
          <a href="/seattle">Тбилисская</a>
          <a href="/toronto-canada">Кавказская</a>
          <a href="/vancouver-canada">Мирская</a>
          <div class="last_menu">
            <a href="/cities">Весь список</a>
          </div>
        </div>
      </li>
      <li>&nbsp; по &nbsp;</li>
      <li class="menu">
        <a href="#" id="search_budget_name">товарам</a>
        <div id="search_budget_menu" style="display:none" class="search_menu">
          <a href="/3000-under">Одежда</a>
          <a href="/3000-to-10000">Бытовую технику</a>
          <a href="/10000-to-25000">Инструмент</a>
          <a href="/25000-to-50000">Автозапчасти</a>
          <a href="/50000-above">Канцтовары</a>
          <div class="last_menu">
            <a href="/cities">Весь список</a>
          </div>
        </div>
      </li>
    <li>&nbsp; и &nbsp;</li>
    <li class="menu">
      <a href="#" id="search_service_name">услугам</a>
      <div id="search_service_menu" style="display:none" class="search_menu">
        <a href="/3000-under">Одежда</a>
        <a href="/3000-to-10000">Бытовую технику</a>
        <a href="/10000-to-25000">Инструмент</a>
        <div class="last_menu">
          <a href="/" class="search_service_menu_links homepage">Весь список</a>
        </div>
      </div>
    </li>
  </ul>
  </div>
</div>