<div class="needle">
  <a href="/" class="homepage">
    <img alt="Sortfolio" height="145" src="/images/logo_card.png" width="90">
  </a>
</div>
<div class="signup guest_user" id="signup">
  <a href="/signup"></a>
  <div class="signup_description" id="slide_listed" style="height: 70px; ">
    <div class="signup_text">
      <a href="/signup">Создай каталог. Внеси товары. Создай услуги. Добавь фото.</a>
    </div>
  </div>
</div>
<div class="nav">
  <a href="/cities">Поиск</a> |
  <a href="/about">О каталогах</a> |
  <a href="/favorites">Избранное</a> |
  <a href="/login" class="guest_user">Войти в каталог</a>
</div>
<div class="masthead">
  <a href="/" class="homepage"><img alt="Sortfolio" height="39" src="/images/logo_magfolio-type.png" width="155">
  </a>
  <h1>Персональные веб каталоги товаров и услуг.</h1>
</div>
<div class="filterbar">
  <div class="filter search">
    <ul class="search_bar">
      <li>Ваш навигатор в &nbsp;</li>
      <li class="menu">
        <a href="#" id="search_location_name">Городе</a>
        <div id="search_location_menu" style="display:none" class="search_menu">
          <a href="/" class="search_location_menu_links homepage">Тихорецк</a>
          <a href="/atlanta" class="search_location_menu_links">Архангельская</a>
          <a href="/boston" class="search_location_menu_links">Кропоткин</a>
          <a href="/chicago" class="search_location_menu_links">Усть-Лабинск</a>
          <a href="/dallas" class="search_location_menu_links">Белая Глина</a>
          <a href="/denver" class="search_location_menu_links">Новопокровская</a>
          <a href="/london" class="search_location_menu_links">Выселки</a>
          <a href="/los-angeles" class="search_location_menu_links">Кущевская</a>
          <a href="/minneapolis" class="search_location_menu_links">Крыловская</a>
          <a href="/nyc" class="search_location_menu_links">Павловская</a>
          <a href="/portland" class="search_location_menu_links">Ленинградская</a>
          <a href="/san-francisco" class="search_location_menu_links">Кореновск</a>
          <a href="/seattle" class="search_location_menu_links">Тбилисская</a>
          <a href="/toronto-canada" class="search_location_menu_links">Кавказская</a>
          <a href="/vancouver-canada" class="search_location_menu_links">Мирская</a>
          <div class="last_menu">
            <a href="/cities" class="search_location_menu_links">Весь список</a>
          </div>
        </div>
      </li>
      <li>&nbsp; по &nbsp;</li>
      <li class="menu">
        <a href="#" id="search_budget_name">товарам</a>
        <div id="search_budget_menu" style="display:none" class="search_menu">
          <a href="/" class="search_budget_menu_links homepage">Весь список</a>
          <a href="/3000-under" class="search_budget_menu_links">Одежда</a>
          <a href="/3000-to-10000" class="search_budget_menu_links">Бытовую технику</a>
          <a href="/10000-to-25000" class="search_budget_menu_links">Инструмент</a>
          <a href="/25000-to-50000" class="search_budget_menu_links">Автозапчасти</a>
          <a href="/50000-above" class="search_budget_menu_links">Канцтовары</a>
        </div>
      </li>
    <li>&nbsp; и &nbsp;</li>
    <li class="menu">
      <a href="#" id="search_budget_name">услугам</a>
      <div id="search_budget_menu" style="display:none" class="search_menu">
        <a href="/" class="search_budget_menu_links homepage">Весь список</a>
      </div>
    </li>
  </ul>
  </div>
</div>