<div class="card-upgrade listing_content">
  <div class="cardcap-upgrade">
    <img alt="Card-top-large" height="10"src="/images/card-top-large.png" width="470">
  </div>
  <div class="cardcontent-upgrade">
    <div class="cardcompany">
      <a href="/company/3192-wakefly">
        <img align="right" alt="3192_1258062097" src="/images/galateya-logo.small.png" />
      </a>
      <h2>
        <a href="/company/3192-wakefly">Галатея</a>
      </h2>
      <p>
        Женская одежда &nbsp; 
        <span>Тихорецк</span>
      </p>
    </div>
    
    <div class="listing slideshow" id="slider_listing_3192">
      <div class="slideshownav">
        <a href="#" class="next" onclick="return false"></a>
        <a href="#" class="previous" onclick="return false"></a>
          <div class="controls slides" style="margin-left: 100px; ">
            <ul>
              <li><a href="#listing_portfolio_image_4005" class="active"></a></li>
              <li><a href="#listing_portfolio_image_4009"></a></li>
              <li><a href="#listing_portfolio_image_4047"></a></li>
              <li><a href="#listing_portfolio_image_4048"></a></li>
              <li><a href="#listing_portfolio_image_4049"></a></li>
              <li><a href="#listing_portfolio_image_4050"></a></li>
            </ul>
          </div>
      </div>
      <div class="scroller">
        <div class="scroller_content">
          <div class="portfolio_image section" id="listing_portfolio_image_4005">
            <div class="pro-image">
              <a href="/company/3192-wakefly#portfolio_image_4005">
                <img alt="4005_1265836877" class="slideshow_image" height="300" src="/images/4005_1265836877.medium.jpg" />
              </a>
            </div>
            <div class="pro-caption">
              "Галатея" магазин женской одежды.
            </div>
          </div>
          <div class="portfolio_image section" id="listing_portfolio_image_4009">
            <div class="pro-image">
              <a href="/company/3192-wakefly#portfolio_image_4009">
                <img alt="4009_1265836932" class="slideshow_image" height="300" src="/images/blank.gif" width="430" style="background-image: url(http://sortfolio.com/images/spinner-small.gif); background-position: 50% 50%; background-repeat: no-repeat no-repeat; ">
              </a>
            </div>
            <div class="pro-caption">
              This is our award winning design for the new Tenara Architectural Fabric website.
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="cardtools">
      <div class="listing" id="favorites_listing_3192">
        <span class="favorite_links" data-listing-id="3192">
          <a href="/favorites/3192/remove.js" class="favorites remove_from_favorites" onclick="return false" style="display: none; ">Remove from my favorites</a>
          <a href="/favorites/3192/add.js" class="favorites add_to_favorites" onclick="return false" style="">Добавить в избранное</a>
        </span>
      </div>
    </div>
    
  </div>
  <div class="cardcap-upgrade">
    <img alt="Card-bottom-large" src="/images/card-bottom-large.png">
  </div>
</div>

<div class="card-upgrade listing_content">
  <div class="cardcap-upgrade">
    <img alt="Card-top-large" height="10"src="/images/card-top-large.png" width="470">
  </div>
  <div class="cardcontent-upgrade">
    <div class="cardcompany">
      <a href="/company/3192-wakefly">
        <img align="right" alt="3192_1258062097" src="/images/fisherman-logo.png" />
      </a>
      <h2>
        <a href="/company/3192-wakefly">Рыбачок</a>
      </h2>
      <p>
        Снасти и снаряжение &nbsp; 
        <span>Тихорецк</span>
      </p>
    </div>
    
    <div class="listing slideshow" id="slider_listing_3192">
      <div class="slideshownav">
        <a href="#" class="next" onclick="return false"></a>
        <a href="#" class="previous" onclick="return false"></a>
          <div class="controls slides" style="margin-left: 100px; ">
            <ul>
              <li><a href="#listing_portfolio_image_4005" class="active"></a></li>
              <li><a href="#listing_portfolio_image_4009"></a></li>
              <li><a href="#listing_portfolio_image_4047"></a></li>
              <li><a href="#listing_portfolio_image_4048"></a></li>
              <li><a href="#listing_portfolio_image_4049"></a></li>
              <li><a href="#listing_portfolio_image_4050"></a></li>
            </ul>
          </div>
      </div>
      <div class="scroller">
        <div class="scroller_content">
          <div class="portfolio_image section" id="listing_portfolio_image_4005">
            <div class="pro-image">
              <a href="/company/3192-wakefly#portfolio_image_4005">
                <img alt="4005_1265836877" class="slideshow_image" height="300" src="/images/100_2273.jpg" />
              </a>
            </div>
            <div class="pro-caption">
              Рыбачок - всё для охоты и рыбалки.
            </div>
          </div>
          <div class="portfolio_image section" id="listing_portfolio_image_4009">
            <div class="pro-image">
              <a href="/company/3192-wakefly#portfolio_image_4009">
                <img alt="4009_1265836932" class="slideshow_image" height="300" src="/images/blank.gif" width="430" style="background-image: url(http://sortfolio.com/images/spinner-small.gif); background-position: 50% 50%; background-repeat: no-repeat no-repeat; ">
              </a>
            </div>
            <div class="pro-caption">
              This is our award winning design for the new Tenara Architectural Fabric website.
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="cardtools">
      <div class="listing" id="favorites_listing_3192">
        <span class="favorite_links" data-listing-id="3192">
          <a href="/favorites/3192/remove.js" class="favorites remove_from_favorites" onclick="return false" style="display: none; ">Remove from my favorites</a>
          <a href="/favorites/3192/add.js" class="favorites add_to_favorites" onclick="return false" style="">Добавить в избранное</a>
        </span>
      </div>
    </div>
    
  </div>
  <div class="cardcap-upgrade">
    <img alt="Card-bottom-large" src="/images/card-bottom-large.png">
  </div>
</div>