<div class="column left">
  <h3>Мой выбор</h3>
	<ul class="orderstack">
	  <li>Оформление заказа по каталогу: </li>
    <li>Доставка - <%= delivery %><a href="<%= make_order_path(1) %>" title="Изменить доставку"><img src="/images/delete.gif"></a></li>
  </ul>
</div>

<div class="column right">
  <a href="<%= edit_payment_order_options_path('cash') %>" id="payment" title="Клиент забирает товар самостоятельно"><img src="/images/oplata-cash.png" width="200px"></a>
  
  <a href="#" id="payment" title="Клиент забирает товар самостоятельно"><img src="/images/visa.png" width="200px"></a>

  <a href="#" id="payment" title="Клиент забирает товар самостоятельно"><img src="/images/mastercard.png" width="200px"></a>

  <a href="#" id="payment" title="Клиент забирает товар самостоятельно"><img src="/images/logo_qiwi.png" width="200px"></a>

  <a href="#" id="payment" title="Клиент забирает товар самостоятельно"><img src="/images/webmoney_logo.png" width="200px"></a>

  <a href="#" id="payment" title="Клиент забирает товар самостоятельно"><img src="/images/yamoney-logo.png" width="200px"></a>
  
  <a href="#" id="payment" title="Клиент забирает товар самостоятельно"><img src="/images/news_sms_payment.jpg" width="200px"></a>
  
  <a href="#" id="payment" title="Клиент забирает товар самостоятельно"><img src="/images/sberbank_logo.png" width="200px"></a>
  
</div>