<% content_for :head do %>
  <%= javascript_include_tag 'order.js' %>
<% end %>

<h1>Шаг <strong>1</strong> - выберите способ доставки</h1>

<div class="column left">
  <div class="box1">
    <div class="box2">
      <a href="<%= edit_delivery_order_options_path('samovyvoz') %>" title="Клиент забирает товар самостоятельно">
        <h1>Самовывоз</h1>
        <img src="/images/samovyvoz.png" height="300px" width="300px">
      </a>
    </div>
  </div>
</div>

<div class="column right">
  <div class="box1">
    <div class="box2">
      <a href="#" id="delivery" title="Клиент забирает товар самостоятельно">
        <h1>Служба доставки</h1>
        <img src="/images/delivery_truck.jpg" height="300px" width="300px">
      </a>
    </div>
  </div>
</div>

<div id="delivery_services" class="column">
  <div class="box1">
    <div class="box2">
      <a href="#" id="delivery" title="Клиент забирает товар самостоятельно">
        <h1>Служба доставки</h1>
        <img src="/images/delivery_truck.jpg" height="300px" width="300px">
      </a>
    </div>
  </div>
</div>

