<div>
<div id="user_lenta_col">
	<h3>Лента событий</h3>
	<div id="lenta_user">
		<ul>
		<li>
		<div class="avatar_in_lenta"><a href="#">
			<img src="/images/evroset.jpg">Евросеть</a>
		</div class="description_lenta">
		<h4><a href="#">Презентация нового салона связи.</a></h4>
		<p>  <img align="left" src="/images/sotoviy.jpg">Презентация содержит учебно-справочный материал о программах-архиваторах, их типах, методах архивации; информационный материал в гиперссылках по ряду популярных программ-архиваторов; контрольные вопросы для самопроверки.</p>
		<table class="botton_table">
		<tr>
		<td>Дата:
			<span class="grey_data"> 03.05.2012</span> </td>
		<td>	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
			<div class="yashare-auto-init" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,friendfeed,lj"></div> </td>
		<td><a class="up_finger" href="#">Мне нравится<i></i></a></td>
		</tr>
		</table>
		
		</li>
		<li>
		<div class="avatar_in_lenta"><a href="#">
			<img src="/images/default_user_avatar.jpg">Кирилл</a>
			<span>Опытный</span>
		</div>
		<h4><a href="">Кирилл</a> положительно оценил(а) акцию <a href="#">«Окно в подарок-2012»</a> от <a href="#">«Окна века»</a></h4>
		<div class="description_lenta">
			<p><img align="left" src="/images/present_window.jpg">Акция проводится среди всех заказчиков (частные лица, индивидуальные предприниматели, организации), оформляющих свой заказ в ЗАО В«ИНСИВ».
		Акция распространяется на заказчиков оформивших заказ на металлочерепицу (Banga, Joker, Northern Shake ) на сумму не менее 50000 рублей (включая комплектующие, водосточную систему и принадлежности к кровле).</p>
		
     	</div>
		<table class="botton_table">
		<tr>
		<td>Дата:
			<span class="grey_data"> 03.05.2012</span> </td>
		<td>	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
			<div class="yashare-auto-init" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,friendfeed,lj"></div> </td>
		<td><a class="up_finger" href="#">Мне нравится<i></i></a></td>
		</tr>
		</table>
		</li>
		<li>
		<div class="avatar_in_lenta"><a href="#">
			<img src="/images/stil_logo.jpg">Стиль</a>
		</div>
		<h4><a href="">Стиль</a> разместил новую презентацию <a href="#">«Летняя коллекция обуви»</a></h4>
		<div class="description_lenta">
			<p><img align="left" src="/images/tufli.jpg"> Большое   поступление   новой  коллекции  европейской  обуви  и  сумок лето-2012 во все магазины ОД "Покровский"
			Тел. для справок: 343/350-52-71Большое   поступление   новой  коллекции  европейской  обуви  и  сумок  во все магазины ОД "Покровский"
			Тел. для справок: 343/350-52-71 
			</p>
     	</div>
		<table class="botton_table">
		<tr>
		<td>Дата:
			<span class="grey_data"> 03.05.2012</span> </td>
		<td>	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
			<div class="yashare-auto-init" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,friendfeed,lj"></div> </td>
		<td><a class="up_finger" href="#">Мне нравится<i></i></a></td>
		</tr>
		</table>
		</li>
		<li>
		<div class="avatar_in_lenta"><a href="#">
			<img src="/images/default_user_avatar.jpg">Настя</a>
			<span>Постоянный</span>
		</div>
		<h4><a href="">Настя</a> оставил(а) отзыв в каталоге <a href="#">«Евросеть»</a></h4>
		<div class="description_lenta">
			Пользуюсь данным устройством пару месяцев, это мой первый смартфон от Apple, по достоинствам я сказал, батарея в режиме телефона т.е. только звонки и смс с выкл. ви-фи и 3г отлично себя ведет 3-4 дня, а вот если включить интернет, посерфить, поиграть, послушать музыку и т.д то сутки, и то с натяжкой)) но это у всех так без исключений новых смартфонов. Теперь что в минусах, его правда страшно уронить, так что защитный чехол обязателен при определенной кривизне рук :) Я не ношу в чехле, просто заклеил со всех… ещё
<p>
			<b>Достоинства:</b>
			+ Экран (четкий, яркий) + Сенсор,очень отзывчивый + Стиль само собой + Батарейка (в режиме использования как телефон 3-4 дня) + Мощная начинка (ничего!!! не тормозит) + Куча девайсов (чехлы, пленки, доки, джойстики, и еще много всего) + iOS хоть и закрытая, но очень понятная и простая в использовании операционка. + Громкость динамиков, как разговорного так и внешнего (слышно просто на ура)
<p>
			<b>Недостатки:</b>
			- опять же батарейка (см. комментарий) - Хрупкость - Дороговат немного... НО см. комментарий - Проблема с сетью имеет место быть, см. комментарий
			</p>
     	</div>
		<table class="botton_table">
		<tr>
		<td>Дата:
			<span class="grey_data"> 03.05.2012</span> </td>
		<td>	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
			<div class="yashare-auto-init" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,friendfeed,lj"></div> </td>
		<td><a class="up_finger" href="#">Мне нравится<i></i></a></td>
		</tr>
		</table>
		</li>
		
		
</ul>
		
	</div>
</div>
<div id ="top_lenta">
<h3 id="top_city">ТОР - Тихорецк</h3>
	<!--Топ Мнений -->
	<div id="top_reviews">
		<h3><a href="/top/top_mneniy">Мнения</a></h3>
			<div class="object_reviews">
				<div class="users_reviews"><a href="#"><img src="http://tihinfo.ru:3000/images/user_icon_1.jpg"><br />Катя</a></div>
				<div class="reviews_anons"><h4>Мнение о «<a href="#">Шанталь</a>»</h4>
				<a href="#">Мне очень понравилось обслуживание. Официантки милые и приветливые ...</a></div>
				
			</div>
			<div class="object_reviews">
				<div class="users_reviews"><a href="#"><img src="http://tihinfo.ru:3000/images/user_icon_5.jpg"><br />Мэрлин</a></div>
				<div class="reviews_anons"><h4>Мнение о «<a href="#">Шурупчик</a>»</h4>
				<a href="#">Очереди просто писец, наняли бы ещё продавцов...</a></div>
				
			</div>
			<div class="object_reviews">
				<div class="users_reviews"><a href="#"><img src="/images/default_user_avatar.jpg"><br />User_new</a></div>
				<div class="reviews_anons"><h4>Мнение о «<a href="#">Банк Первомайский</a>»</h4>
				<a href="#">с 12-ти до 13-ти работает вместо 3-х только одно окошко, хотя у них ...</a></div>
				
			</div>
			<div class="object_reviews">
				<div class="users_reviews"><a href="#"><img src="/images/pritcha.jpg"><br />Жанна</a></div>
				<div class="reviews_anons"><h4>Мнение о «<a href="#">Седьмое небо</a>»</h4>
				<a href="#">Здесь работает мой любимый мастер. Регулярно посещаю этот...</a></div>
				
			</div>
	</div>
	<!--Топ Презентаций -->
	<div id="top_presentation">
		<h3><a href="/top/top_presentation">Презентации</a></h3>
			<div class="object_presentation">
				<div class="catalog_presentation"><a href="#"><img src="/images/evroset.jpg"><br />Евросеть</a></div>
				<div class="reviews_anons"><h4>«<a href="#">Мега бонусы</a>»</h4>
				<a href="#">В июле, каждому купившему комуникатор Samsung Galaxy, карта sd с подробной GPS картой России...</a></div>
			</div>
			<div class="object_presentation">
					<div class="catalog_presentation"><a href="#"><img src="http://tihinfo.ru:3000/assets/pictures/1113/small/c1086a021af2b66d5ee25b51f5b479d4.jpg?1326191922"><br />Авто-мойка</a></div>
					<div class="reviews_anons"><h4>«<a href="#">Новые технологии мойки!!!</a>»</h4>
					<a href="#">Передовые технологии бесконтактной очистки авто в Тихорецке. Новые методы и средства позволяют ...</a></div>
			</div>
			<div class="object_presentation">
					<div class="catalog_presentation"><a href="#"><img src="/images/oil.jpg"><br />ГАЗ детали машин</a></div>
					<div class="reviews_anons"><h4>«<a href="#">ХАДО - полноценное востановление двигателя!</a>»</h4>
					<a href="#">Продукт нано технологий предназначен для регенерации тонкого защитного слоя внутренних поверхностей двигателя...</a></div>
			</div>
		
	</div>
	<!--Топ Каталоги -->
	<div id="top_10_catalog">
		<h3><a href="/top/top_catalogov">Каталоги</a></h3>
			<div class="object_top_10_catalog">
				<a href="#"><img src="/images/sotoviy.jpg">Салон сотовой связи «Евросеть» передовые услуги мобильной связи.</a>
			</div>
			<div class="object_top_10_catalog">
				<a href="#"><img src="http://tihinfo.ru:3000/assets/pictures/1113/small/c1086a021af2b66d5ee25b51f5b479d4.jpg?1326191922">Магазин «Гараж» качественные запчасти для иномарок.</a>
			</div>
<div class="object_top_10_catalog">
				<a href="#"><img src="http://tihinfo.ru:3000/assets/pictures/1127/small/e231a705ca3e33aac5960395009ab2a0.jpg?1326198997"> Магазин «Байкер» мото техника для всех</a>
			</div>
<div class="object_top_10_catalog">
				<a href="#"><img src="http://tihinfo.ru:3000/assets/pictures/273/small/6c747f1d924faef8355780b1a1acae1e.jpg?1306685125"> Кафе «Капитан Врунгель» приятный отдых за вкусным угощением.</a>
			</div>
<div class="object_top_10_catalog">
				<a href="#"><img src="http://tihinfo.ru:3000/assets/pictures/889/small/3cff0d488c07d5a1b3b8d541337c1024.jpg?1324565265"> Банк «Россельхоз» финансовые инструмент для вашего бизнеса.</a>
			</div>
	</div>
	<!--Топ Пользователи -->
	<div id="top_users">
		<h3><a href="/top/top_user">Пользователи</a></h3>
			<div class="object_users">
				<a href="#"><img src="http://tihinfo.ru:3000/images/user_icon_1.jpg"><br />Катя</a>
			</div>
			<div class="object_users">
				<a href="#"><img src="http://tihinfo.ru:3000/images/user_icon_4.jpg"><br />ПЕрисХилтон</a>
			</div>
<div class="object_users">
				<a href="#"><img src="http://tihinfo.ru:3000/images/user_icon_3.jpg"><br />Menfis</a>
			</div>
<div class="object_users">
				<a href="#"><img src="http://tihinfo.ru:3000/images/user_icon_5.jpg"><br />Elf</a>
			</div>
<div class="object_users">
				<a href="#"><img src="http://tihinfo.ru:3000/images/user_icon_2.jpg"><br />Thender</a>
			</div>
			<div class="object_users">
				<a href="#"><img src="http://tihinfo.ru:3000/images/pritcha.jpg"><br />Menfis</a>
			</div>
	</div>
	
	<!-- Специалисты фирм -->
	<div id="top_experts">
		<h3><a href="/top/top_specialist">Специалисты</a></h3>
			<div class="object_experts">
				<div class="object_experts_img_nik"><a href="#"><img src="http://tihinfo.ru:3000/images/spec1.jpg"><br />Егор</a></div>
				<p class="object_experts_info">Консультант по преобретению товаров в интернет магазине, менеджер по претензионной работе.<a href="#">Pandawill.com</a></p>
				
			</div>
			<div class="object_experts">
				<div class="object_experts_img_nik"><a href="#"><img src="http://tihinfo.ru:3000/images/spec2.jpg"><br />Спецстрой</a></div><p class="object_experts_info">Технический специалист сервисного центра <a href="#">Спецстрой</a></p>
			</div>
<div class="object_experts">
				<div class="object_experts_img_nik"><a href="#"><img src="http://tihinfo.ru:3000/images/spec3.jpg"><br />Клиника</a></div><p class="object_experts_info"></p>Менеджер ресепшена <a href="">Клиника «На здоровье»</a>
			</div>
<div class="object_experts">
				<div class="object_experts_img_nik"><a href="#"><img src="http://tihinfo.ru:3000/images/spec4.jpg"><br />Голд Мембер</a></div><p class="object_experts_info">Старший менеджер отдела работы с клиентами <a href="#">«Мастерок»</a></p>
			</div>

	</div>

</div>
</div>

	