<div class="card-perma"> 
  <div class="cardcap-perma">
    <img alt="Card-top-perma" src="/images/card-top-perma.png" />
  </div> 
  <div class="cardcontent-perma"> 
    <h2>Каталоги Клевер - помогают найти покупателей и продавцов.</h2>
    <h4>Найди то что тебе надо по названию, месту и цене.</h4>
    <div class="about"> 
      <img align="left" alt="Find a Web Designer" src="/images/img_about-search.png" /> 
      <h3>Поиск товаров и услуг.</h3> 
      <p>Ищи по названию, месту и цене. Найди самое лучшее предложение. 
        Сохрани всё в избранном.</p> 
      <p><a href="/">Перейти к поиску</a></p> 
    </div>
    <div class="about"> 
      <img align="left" alt="Get listed in Sortfolio" src="/images/img_about-list.png" /> 
      <h3>Поиск покупателей.</h3> 
      <p>Добавь свою компанию к каталогу или создай свой персональный каталог. Сообщи клиентам.</p> 
      <p><a href="/signup">Создать каталог</a></p> 
    </div>
    <div class="clear"></div>
    <div class="faq">
      <div class="background">
        <h3>Кто сделал Клевер?</h3>
        <p>Клевер придуман, размещён, раработан и продвигается 
          <a href="http://spknd.ru">Наш дом</a>. Также <a href="http://spknd.ru">Наш дом</a> это: 
          <a href="http://jobs.spknd.ru">The Job Board</a>, 
          <a href="http://spknd.ru">Basecamp</a>, 
          <a href="http://spknd.ru">Highrise</a>, 
          <a href="http://spknd.ru">Backpack</a>, and 
          <a href="http://spknd.ru">Campfire</a>. 
          Сотни людей и предприятий используют наши программные продукты. 
          <a href="http://spknd.ru">Наш дом</a> занимается разработкой с 2005 года.
        </p>
        <h3>Почему Клевер?</h3>
        <p>Большинство предприятий малого и среднего бизнеса хотели бы иметь свой собственный сайт для того чтобы продвигать свои товары и услуги в интернете, но все они сталкиваются с высокой стоимостью разработки и обслуживания сайтов, а ещё на разработку хорошего сайта нужно время и талант. Веб каталоги Клевер предоставляют своим клиентам возможность получить сайт в очень короткие сроки за приемлемую стоимость. Нашу бизнес-модель можно назвать &mdash; сайт как услуга.  
          <a href="/designer">Web designers, learn more about Sortfolio.</a>
        </p> 
        <h3>Не упустите возможность привлечь клиентов!</h3>
        <div class="tweet" style="margin-bottom: 5px; margin-top: 5px;">
          <div class="tweet-content"> 
            <p style="margin-left: 0; margin-bottom: 10px;">&ldquo;Только что нашел что искал через Клевер! Вау!&rdquo;</p> 
          </div> 
          <div class="bubble"><img src="/images/tweet-arrow.gif" width="32" height="16" /></div> 
        </div>
        <p><a href="/success">Читать что говорят в онлайне.</a></p>
      </div>
      <h2>Вопросы & Ответы</h2>
      <h3>Нужно ли платить чтобы быть занесённым в веб каталоги Клевер</h3>
      <p>Существует бесплатный общий веб каталог Клевер &mdash; любой желающий может быть занесён в каталог бесплатно. Также мы предлагаем Pro &mdash; профессиональный доступ за $99 в месяц. Профессиональный доступ включает возможность создания собственного каталога и расширенные возможности отображения его содержимого, неограниченное количество больших изображений, размещение в каталоге выше бесплатных, размещение Вашего видео или флэш ролика, загрузка прайс листов из файла или Вашей бухгалтерской/складской учетной системы &mdash; например 1С. Вы можете переключиться на каждый вид каталога или отказаться от наших услуг в любое время.</p>
      <h3>Я уже имею веб сайт. Зачем мне создавать запись в веб каталоге Клевер?</h3> 
      <p>Если у Вас есть собственный веб сайт Вам необходимо заниматься привлечением посетителей. Веб каталог Клевер поможет привлечь потенциальных клиентов к Вашему сайту.</p> 
      <h3>Как Ваш веб каталог Клевер поможет в привлечении потециальных клиентов?</h3> 
        <p>Веб каталог Клевер использует интернет-рекламу, соответствующие списки рассылки а также ссылки на сайты для продвижения содержащейся в нём информации о сотнях предприятий малого и среднего бизнеса. Тысячи людей просматиривают каталог Клевер ежедневно. Мы предоставляем возможность владельцам предприятий быстро, эффективно и без проволочек разметить информацию о своём бизнесе в интернете. Мы размещаем информацию о веб каталогах Клевер в традиционных средствах массовой информации, таких как телевидение, радио и печатные издания.</p> 
      <h3>Какие гарантии даёт каталог Клевер?</h3> 
        <p>Любой предприниматель может свободно добавить своё объявление в каталог Клевер, но мы не просматривает рекламу, цензура содержимого каталога (если оно не является оскорбительным), мы не можем поручиться или дать гарантии о качестве товаров или услуг представленных в нашем каталоге. Если вы подозреваете мошенничество, или нечестное поведение (представлены товары или услуги запрещённые законодательством) пожалуйста сообщите нам.</p>
      <div class="clear"></div>
      <div class="upsell"> 
        <a href="/about">О каталогах Клевер</a>, 
        <a href="/signup">Создать каталог</a>, или написать письмо 
        <a href="mailto:nashdom@spknd.ru?subject=Вопросы о каталогах Клевер">
          nashdom@spknd.ru
        </a> 
      </div>
    </div>
  </div> 
  <div class="cardcap-perma">
    <img alt="Card-bottom-perma" src="/images/card-bottom-perma.png" />
  </div> 
</div>
