<div class="card-perma"> 
  <div class="cardcap-perma">
    <img alt="Card-top-perma" src="/images/card-top-perma.png" />
  </div> 
  <div class="cardcontent-perma"> 
    <h2>Sortfolio helps you find the best web designer for your project.</h2>
    <h4>Find your match by visual style, location, and budget.</h4>
    <div class="about"> 
      <img align="left" alt="Find a Web Designer" src="/images/img_about-search.png" /> 
      <h3>Find a web designer.</h3> 
      <p>Search by city and budget. Check out a firm&rsquo;s best work. 
        Save all your favorites for later review.</p> 
      <p><a href="/">Find a web designer now</a></p> 
    </div>
    <div class="about"> 
      <img align="left" alt="Get listed in Sortfolio" src="/images/img_about-list.png" /> 
      <h3>Web designers: Get listed.</h3> 
      <p>Add your company to the directory. Upload images of your best designs. Attract clients and win business.</p> 
      <p><a href="/signup">Get listed now</a></p> 
    </div>
    <div class="clear"></div>
    <div class="faq">
      <div class="background">
        <h3>Who&rsquo;s behind Sortfolio?</h3>
        <p>Sortfolio is produced, hosted, designed, developed, and promoted by 
          <a href="http://37signals.com">37signals</a>. Also by 37signals: 
          <a href="http://jobs.37signals.com">The Job Board</a>, 
          <a href="http://basecamphq.com">Basecamp</a>, 
          <a href="http://highrisehq.com">Highrise</a>, 
          <a href="http://backpackit.com">Backpack</a>, and 
          <a href="http://campfirenow.com">Campfire</a>. 
          Over 3,000,000 people and businesses have signed up for 37signals products. 
          37signals has been in business since 1999.
        </p>
        <h3>Why Sortfolio?</h3>
        <p>If you're like most web designers, you have a great site but you're having a hard time
          getting qualified leads to visit your site. Sortfolio is here to help drive potential
          clients to your site. We promote Sortfolio to thousands of businesses, they find your
          work on Sortfolio, and then we direct them to your site so you can finish wowing them.
          Sortfolio helps them find you so you can do your magic.
          <a href="/designer">Web designers, learn more about Sortfolio.</a>
        </p> 
        <h3>Web designers are getting great leads with Sortfolio.</h3>
        <div class="tweet" style="margin-bottom: 5px; margin-top: 5px;">
          <div class="tweet-content"> 
            <p style="margin-left: 0; margin-bottom: 10px;">&ldquo;Just got contacted for a project via Sortfolio! Woo!&rdquo;</p> 
          </div> 
          <div class="bubble"><img src="/images/tweet-arrow.gif" width="32" height="16" /></div> 
        </div> 
        <p><a href="/success">Read what they&rsquo;re saying online</a></p>
      </div>
      <h2>Background Q&A</h2>
      <h3>Does it cost anything to be listed on Sortfolio?</h3>
      <p>There is no charge to be listed on Sortfolio &mdash; every web designer gets a free listing.
        We also offer a Pro listing for $99/month. The Pro listing includes a larger interactive display ad,
        up to 6 large images, placement above free ads, and a spot for your logo.
        You can upgrade, downgrade, or cancel at any time.</p>
      <h3>Can freelancers post listings too?</h3> 
      <p>Absolutely &mdash; any and all web designers are welcome to list themselves on Sortfolio.
        Sortfolio levels the playing field since everyone's listing is treated equally.
        Your work is what makes you stand out.</p> 
      <h3>I already have a web site. Why would I want to be listed on Sortfolio?</h3> 
      <p>If you're like most web designers, you have a great site but you're having a hard time 
        getting qualified leads to visit your site. Sortfolio is here to help drive potential 
        clients to your site. Then you pick up where Sortfolio leaves off.</p> 
      <h3>How will you be promoting Sortfolio to potential clients?</h3> 
        <p>We'll be promoting Sortfolio to hundreds of thousands of businesses using a combination of 
          web-based advertising targeted at small/medium businesses, local contextual advertising, 
          relevant mailing lists, and links on sites frequented by small/medium business owners. 
          Sortfolio will also be actively promoted on our Signal vs. Noise blog which is read by over 
          100,000 people a day. We'll also be promoting Sortfolio to  our own customer base which is 
          made up hundreds of thousands of business owners. Lastly, we'll be seeking out national press 
          to cover Sortfolio's growth.</p> 
      <h3>Does it cost anything to hire a firm I found on Sortfolio?</h3> 
        <p>No. Sortfolio isn't involved in any financial transactions between a firm and a client, 
          and there's no fee to browse or hire anyone via Sortfolio. Transactions and negotiations 
          are handled off Sortfolio. Sortfolio is just a place for clients to meet firms - after that 
          everyone is on their own.</p> 
      <h3>How do I hire a firm listed on Sortfolio?</h3> 
        <p>If you like a firm's work, and you'd like to consider hiring them 
          (or just getting to know them better), you'll find their contact information on their 
          dedicated page. To get their info just click their firm's name.</p> 
      <h3>Does Sortfolio make any guarantees?</h3> 
        <p>Any web design firm is free to place their ad on Sortfolio, but Sortfolio doesn't 
          review the ads, censor the ads (unless they are offensive), or make any warrantees or 
          guarantees about the quality of a firm's work. If you suspect fraud, or dishonest behavior 
          (displaying work that wasn't actually done by a specific firm, for example) please do let us 
          know and we'll investigate.</p>
      <div class="clear"></div>
      <div class="upsell"> 
        <a href="/about">Learn more</a>, 
        <a href="/signup">Get listed today</a>, or contact us at 
        <a href="mailto:contact@sortfolio.com?subject=Questions about Sortfolio">
          contact@sortfolio.com
        </a> 
      </div>
    </div>
  </div> 
  <div class="cardcap-perma">
    <img alt="Card-bottom-perma" src="/images/card-bottom-perma.png" />
  </div> 
</div>
