<div class="card-perma">
  <div class="cardcap-perma">
    <img alt="Card-top-perma" src="/images/card-top-perma.png">
  </div>
  <div class="cardcontent-perma">
    <div class="cardtools">
      <div class="printpage">
        <a href="#" class="print" target="_blank">
          Рейтинг
        </a>
      </div>
      <div class="listing">
        <span class="favorite_links" data-listing-id="8805">
          <a href="/favorites/8805/remove.js" class="favorites remove_from_favorites" onclick="return false" style="display: none; ">Удалить из избранного</a>
          <a href="/favorites/8805/add.js" class="favorites add_to_favorites" onclick="return false" style="">Добавить в избранное</a>
        </span>  
      </div>
    </div>
      <h2>Карта</h2>
      <p>
        Вид бизнеса: 
        <strong>Карта</strong><br />
        Расположен в 
        <strong>
          <a href="/chicago">Карта></a>
        </strong><br />
        E-mail: 
        <strong>
        </strong>
      </p>
      <div class="map">
        <%= render :partial => 'map' %>
      </div>
    <div class="action">
      <h2>Вам понравилось? Свяжитесь с .</h2>
      <h3>
      </h3>
    </div>
  </div>
  <div class="cardcap-perma">
    <img alt="Card-bottom-perma" src="/images/card-bottom-perma.png">
  </div>
</div>


