<div class="user_menu">
  <a href="#product_add" id="buket_add" title="Добавить букет">
    <img src="/images/img-add-icon.png">
  </a>
  <a href="/logout" title="Выход">
    <img src="/images/exit.jpg">
  </a>
</div>

