<div class="card-upgrade">
  <div class="cardcap-upgrade"><img alt="Card-top-large" src="/images/card-top-large.png" /></div>
  <div class="cardcontent-upgrade login">
    <form action="/session" class="new_user_session" id="user_session_70869520" method="post">
      <div style="margin:0;padding:0;display:inline">
        <input name="authenticity_token" type="hidden" value="WzkziciMhaYks5MdwDBxwcl5IcqqP1sR4cJ8AVllGcY=" />
      </div>
      <h2>Вход в онлайн каталоги Клевер</h2> 
      <p><label for="user_session_email">Email:</label></p> 
      <input id="user_session_email" name="user_session[email]" size="30" type="text" />
      <p><label for="user_session_password">Пароль:</label></p>
      <input id="user_session_password" name="user_session[password]" size="30" type="password" />
      <br />
      <a href="/password/reset">Я забыл пароль</a>
      <div class="remember">
        <label for="user_session_remember_me">
          <input name="user_session[remember_me]" type="hidden" value="0" />
          <input id="user_session_remember_me" name="user_session[remember_me]" type="checkbox" value="1" />
            <span>Запомнить меня на этом компьютере</span>
          </label>
      </div>
      <p><input id="user_session_submit" name="commit" type="submit" value="Вход" /></p> 
    </form>
  </div>
  <div class="cardcap-upgrade">
    <img alt="Card-bottom-large" src="/images/card-bottom-large.png" />
  </div>
  <div class="create">У Вас нет имени и пароля? <a href="/signup">Создайть веб каталог Клевер.</a></div>
</div>