<% if current_user%>
  <% if /admin/ =~ current_user.group %>
    <div class="admin_menu">
      <a href="/users" title="Управление пользователями">
        <img src="/images/users.png">
      </a>
      <a href="/locations" title="Населённые пункты">
        <img src="/images/locations.png">
      </a>
      <a href="/business_types" title="Типы бизнесов">
        <img src="/images/business_type.png">
      </a>
      <a href="/business_deals" title="Виды товаров и услуг">
        <img src="/images/services.png">
      </a>
      <a href="/cartography" title="Найти координаты на карте">
        <img src="/images/coordinate.png" width="64px" height="64px">
      </a>
      <a href="/logout" title="Выход">
        <img src="/images/exit2.png">
      </a>
    </div>
  <% end %>
<% end %>