<div class="footer">
  <a href="http://spknd.ru" target="_blank">
    <img alt="37signals" src="/images/logo_37signals-gray.png" height="24" width="107" align="right">
  </a>
  Sortfolio™ is a trademark of <a href="http://www.spknd.ru">Spknd</a>, LLC. All rights reserved.<br>Images/logos belonging to web design firms listed on Sortfolio are owned by their respective trademark owners.<br>Sortfolio was known as Haystack from October 21, 2009 - January 3, 2010.
  <p>Get in touch with us at 
    <a href="mailto:contact@sortfolio.com?subject=Questions about Sortfolio">contact@sortfolio.com</a>.
  </p>
</div>