<div class="footer">
  <a href="http://www.spknd.ru" target="_blank">
    <img alt="Наш дом" src="/images/logo_nashdom_gray.png" height="24" width="107" align="right">
  </a>
  <a href="http://www.spknd.ru">Социально-правовая компания "Наш Дом"</a>, Все права защищены.<br>
  Изображения/логотипы размещённые в каталогах Tihinfo являются собственностью разместившего их владельца каталога.
  <p>Есть вопросы? Свяжитесь снами по адресу 
    <a href="mailto:nashdom@spknd.ru?subject=Вопросы о каталогах Tihinfo">nashdom@spknd.ru</a>.
  </p>
</div>