<div class="user_menu">
  <% if cart_exist? && !current_user %>
    <div id="mycart">
  <% else %>
    <div style="display:none" id="mycart">
  <% end %>  
  <a href="<%= show_mycart_path %>" title="Моя корзина">
    <strong>(<span id="cart_count"><%= @cart_count %></span>)</strong>
    <br />
    <img src="/images/order-icon.gif">
  </a>
  </div>
  <% if customer? %>
    <div id="myorders">
      <a href="<%= my_orders_catalog_view_path(customer?) %>" title="Мои заказы"><img src="/images/order-icon.png"></a>
    </div>
  <% end %>
</div>