<div class="nav">
  <a href="/cities">Поиск</a> |
  <a href="/about">О Магфолио</a> |
  <a href="/favorites">Мои закладки</a>
  <span class="favorites_count">(1)</span> |
  <a href="/account" class="logged_in_user" style="display: none; ">My listing/account</a>
  <span class="logged_in_user" style="display: none; ">|</span>
  <a href="/session" class="logged_in_user signup" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'UGVUsgRPxDc0p+eDTq8UluW+bkjic5RUNHTmssPr9h8='); f.appendChild(s);f.submit();return false;" style="display: none; ">Logout</a>
  <a href="/login" class="guest_user">Войти в каталог</a>
</div>