<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head> 
    <title>Sortfolio : Web designers in Atlanta</title> 
    <meta name="description" content="Find a web designer for your next project. Browse by style, budget, and location. View portfolios and previous work." /> 
    <meta http-equiv="X-UA-Compatible" content="IE=8" /> 
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" /> 
    <script src="/javascripts/sprockets.js" type="text/javascript"></script> 
    <link href="http://asset1.sortfolio.com/stylesheets/cache/all.css?1297366249" media="screen" rel="stylesheet" type="text/css" /> 
    
    <!--[if lt IE 8]>
      <link href="http://asset2.sortfolio.com/stylesheets/ie/screen.css?1297366249" media="screen" rel="stylesheet" type="text/css" />
    <![endif]--> 
 
  </head> 
 
 <%= yield %>
 
</html>