<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  <title>Magfolio</title>
  <meta name="description" content="Найди магазин для своей следующей покупки. Выбери стиль, бюджет и место. Просмотри товары, услуги и предложения." />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <script src="/javascripts/sprockets.js" type="text/javascript"></script> 
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body class="home">
  <a name="top"></a>
  <div class="container">
    <div id="header" class="header">
      <div class="needle">
        <a href="/" class="homepage">
          <img alt="Sortfolio" height="145" src="/images/logo_card.png" width="90">
        </a>
      </div>
      <div class="signup guest_user" id="signup">
        <a href="/signup"></a>
        <div class="signup_description" id="slide_listed" style="height: 70px; ">
          <div class="signup_text">
            <a href="/signup">Create a listing. Add a portfolio. Start getting work.</a>
          </div>
        </div>
      </div>
      <div class="nav">
        <a href="/cities">All cities</a> |
        <a href="/about">About Sortfolio</a> |
        <a href="/favorites">My favorites</a>
        <span class="favorites_count">(1)</span> |
        <a href="/account" class="logged_in_user" style="display: none; ">My listing/account</a>
        <span class="logged_in_user" style="display: none; ">|</span>
        <a href="/session" class="logged_in_user signup" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'UGVUsgRPxDc0p+eDTq8UluW+bkjic5RUNHTmssPr9h8='); f.appendChild(s);f.submit();return false;" style="display: none; ">Logout</a>
        <a href="/session/new" class="guest_user">Login to Sortfolio</a>
      </div>
      <div class="masthead">
        <a href="/" class="homepage"><img alt="Sortfolio" height="39" src="/images/logo_sortfolio-type.png" width="155">
        </a>
        <h1>Find the right web designer for your next project.</h1>
      </div>
      <div class="filterbar">
        <div class="filter search">
          <ul class="search_bar">
            <li>Showing all web designers in &nbsp;</li>
            <li class="menu">
              <a href="#" id="search_location_name">Any city</a>
              <div id="search_location_menu" style="display:none" class="search_menu">
                <a href="http://sortfolio.com/" class="search_location_menu_links homepage">Any city</a>
                <a href="/atlanta" class="search_location_menu_links">Atlanta</a>
                <a href="/boston" class="search_location_menu_links">Boston</a>
                <a href="/chicago" class="search_location_menu_links">Chicago</a>
                <a href="/dallas" class="search_location_menu_links">Dallas</a>
                <a href="/denver" class="search_location_menu_links">Denver</a>
                <a href="/london" class="search_location_menu_links">London</a>
                <a href="/los-angeles" class="search_location_menu_links">Los Angeles</a>
                <a href="/minneapolis" class="search_location_menu_links">Minneapolis</a>
                <a href="/nyc" class="search_location_menu_links">New York</a>
                <a href="/portland" class="search_location_menu_links">Portland</a>
                <a href="/san-francisco" class="search_location_menu_links">San Francisco</a>
                <a href="/seattle" class="search_location_menu_links">Seattle</a>
                <a href="/toronto-canada" class="search_location_menu_links">Toronto</a>
                <a href="/vancouver-canada" class="search_location_menu_links">Vancouver</a>
                <a href="/washington-dc" class="search_location_menu_links">Washington</a>
                <div class="last_menu">
                  <a href="/cities" class="search_location_menu_links">List all cities</a>
                </div>
              </div>
            </li>
            <li>&nbsp; who work on projects for &nbsp;</li>
            <li class="menu">
              <a href="#" id="search_budget_name">Any budget</a>
              <div id="search_budget_menu" style="display:none" class="search_menu">
                <a href="http://sortfolio.com/" class="search_budget_menu_links homepage">Any budget</a>
                <a href="/3000-under" class="search_budget_menu_links">$3,000 and under</a>
                <a href="/3000-to-10000" class="search_budget_menu_links">$3,000-$10,000</a>
                <a href="/10000-to-25000" class="search_budget_menu_links">$10,000-$25,000</a>
                <a href="/25000-to-50000" class="search_budget_menu_links">$25,000-$50,000</a>
                <a href="/50000-above" class="search_budget_menu_links">Over $50,000</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content">
      <div id="endless_listings">
        <%= yield %>
      </div>
      <div class="footer"></div>
    </div>
  </div>
</body>
</html>